/*
  Theme Name: MediDove - Medical and Health HTML5 Template
  Author: basictheme
  Support: basictheme400@gmail.com
  Description: Medical and Health HTML5 Template
  Version: 1.0
*/

/* CSS Index
-----------------------------------
1. Theme default css
2. Header
3. Slider
4. About
5. Section Title
6. Services
7. Team
8. Fact
9. Pricing
10. CTA
11. Footer
12. Counter
13. Appoinment
14. Testimonials
15. Analysis
16. Appoinment
17. Membership
18. FAQ
19. Blog
20. Contact
21. Shop
22. Cart
23. Checkout
24. Login
25. Portfolio
26. Preloader
*/



/* 1. Theme default css */
@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700|Rubik:400,500,700');
body {
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
    font-style: normal;
    color: #647589;
    font-size: 14px;
}

.img,img {
    max-width: 100%;
    transition: all 0.3s ease-out 0s;
}

.f-left {
    float: left
}

.f-right {
    float: right
}

.fix {
    overflow: hidden
}

a,
.button {
    -webkit-transition: all 0.3s ease-out 0s;
    -moz-transition: all 0.3s ease-out 0s;
    -ms-transition: all 0.3s ease-out 0s;
    -o-transition: all 0.3s ease-out 0s;
    transition: all 0.3s ease-out 0s;
}

a:focus,
.button:focus {
    text-decoration: none;
    outline: none;
}

a:focus,
a:hover{
    color: #8fb569;
    text-decoration: none;
}

a,
button {
    color: #10111e;
    outline: medium none;
}
button{
	cursor: pointer;
	transition: .3s;
}
button:focus,
input:focus,
input:focus,
textarea,
textarea:focus {
    outline: 0
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    color: #223645;
    margin-top: 0px;
    font-weight: 600;
    text-transform: normal;
	line-height: 1.1;
}

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
    color: inherit;
}

h1 {
	font-size: 60px;
	letter-spacing: -.3px;
	line-height: 1.22;
}

h2 {
    font-size: 35px;
}

h3 {
	font-size: 26px;
	letter-spacing: -.3px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 18px;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    color: #647589;
}

h6 {
    font-size: 14px;
}

ul {
    margin: 0px;
    padding: 0px;
}

li {
    list-style: none
}

p {
    font-size: 14px;
    font-weight: normal;
    line-height: 26px;
    color: #647589;
    margin-bottom: 15px;
}

hr {
    border-bottom: 1px solid #eceff8;
    border-top: 0 none;
    margin: 30px 0;
    padding: 0;
}

label {
    color: #7e7e7e;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
}

*::-moz-selection {
    background: #d6b161;
    color: #fff;
    text-shadow: none;
}

::-moz-selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

::selection {
    background: #444;
    color: #fff;
    text-shadow: none;
}

*::-moz-placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

*::placeholder {
    color: #555555;
    font-size: 14px;
    opacity: 1;
}

.theme-overlay {
    position: relative
}

.theme-overlay::before {
    background: #1696e7 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
}

.separator {
    border-bottom: 2px solid #eae7ff
}

/* button style */
.btn {
	-moz-user-select: none;
	background: #e12454;
	border: medium none;
	border-radius: 0;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1px;
	line-height: 1;
	margin-bottom: 0;
	padding: 24px 40px;
	text-align: center;
	text-transform: uppercase;
	touch-action: manipulation;
	transition: all 0.3s ease 0s;
	vertical-align: middle;
    white-space: nowrap;
    position: relative;
}

.btn:hover {
	background: #8fb569;
	color: #fff;
}

.btn-icon {
	border-radius: 30px;
	padding-left: 84px;
	padding-right: 50px;
	padding-top: 24px;
	padding-bottom: 22px;
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
}
.btn-icon-green {
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 8px 16px 0px rgba(143, 181, 105, 0.3);
}

.btn-icon:hover {
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 8px 16px 0px rgba(125, 178, 73, 0.2);
	color: #fff;
}
.btn-icon-green:hover {
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
}
.btn-icon span {
	position: absolute;
	left: 5px;
	text-align: center;
	width: 50px;
	height: 50px;
	top: 5px;
	line-height: 50px;
	background: #fff;
	transition: .3s;
	font-size: 20px;
	font-weight: 600;
	color: #223645;
	border-radius: 100%;
}
.btn-icon-white {
	background: #fff;
	color: #647589;
	padding-right: 35px;
	padding-left: 35px;
	border: 2px solid #eae7ff;
	margin-left: 29px;
	box-shadow: none;
	border-radius: 40px;
}
.btn-icon-white i {
	margin-right: 7px;
}
.btn.btn-icon.btn-icon-white:hover {
	border: 2px solid transparent;
}
.btn-icon-blue {
	background-color: rgb(34, 54, 69);
	box-shadow: 0px 8px 16px 0px rgba(34, 54, 69, 0.2);
	padding-right: 60px;
	padding-left: 94px;
}
.btn-icon-blue:hover {
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
}
.btn-icon-dark:hover {
	background: #223645;
	box-shadow: 0px 8px 16px 0px rgba(34, 54, 69, 0.2);
}
.btn.gray-btn-border {
	font-size: 14px;
	color: #647589;
	background: 0;
	border: 2px solid #eae7ff;
	border-radius: 40px;
	padding: 23px 60px;
	line-height: 1;
	text-transform: capitalize;
}
.btn.gray-btn-border:hover {
	background: #E12454;
	color: #fff;
	border: 2px solid transparent;
}
.btn.green-bg-btn {
	padding: 23px 60px;
	border-radius: 30px;
	background: #8fb569;
	color: #fff;
}
.btn.green-bg-btn:hover {
	background: #E12454;
}
.play-btn {
	height: 60px;
	width: 60px;
	line-height: 60px;
	display: inline-block;
	border-radius: 50%;
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 8px 16px 0px rgba(125, 178, 73, 0.2);
	text-align: center;
	color: #fff;
	padding-left: 3px;
	margin-left: 27px;
}
.play-btn:hover {
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
	color: #fff;
}
.about-video-btn {
	font-size: 14px;
	width: 70px;
	height: 70px;
	line-height: 70px;
	border: 2px solid #fff;
	border-radius: 50%;
	display: block;
	position: absolute;
	text-align: center;
	top: 50%;
	left: 0;
	right: 0;
	margin: auto;
	transform: translateY(-50%);
	padding-left: 3px;
}
.about-video-btn.white-video-btn {
	width: 120px;
	height: 120px;
	line-height: 119px;
	background: #fff;
	color: #223645;
}
.about-video-btn.white-video-btn:hover {
	background: #e12454;
	border: 2px solid #e12454;
	color: #fff;
}

.breadcrumb > .active {
    color: #888;
}

/* scrollUp */
#scrollUp {
	background: #E12454;
	height: 50px;
	width: 50px;
	right: 50px;
	bottom: 77px;
	color: #fff;
	font-size: 20px;
	text-align: center;
	border-radius: 50%;
	font-size: 20px;
	line-height: 48px;
}

#scrollUp:hover {
    background: #8FB569;
}

/* 2. Header */
/* header-top */
.top-bar {
	background: #f3f6ff;
}
.header-info {
	padding-left: 20px;
}
.header-info span {
	margin-right: 39px;
}
.header-info span i {
	margin-right: 10px;
}
.header-padding {
	padding: 0 120px;
	padding-top: 45px;
}
.transparrent-header {
	position: absolute;
	right: 0;
	left: 0;
	top: 0;
	z-index: 9;
}
.header-cta-info {
	margin-right: 45px;
	margin-top: 8px;
}
.header-cta-icon {
	margin-right: 20px;
}
.header-cta-text h5 {
	margin-bottom: 10px;
}
/* header menu area */
.logo img {
	position: relative;
	z-index: 2;
}
.logo-circle::before {
	position: absolute;
	content: "";
	border: 47px solid #fff;
	left: -35px;
	width: 150px;
	height: 150px;
	top: -35px;
	border-radius: 100%;
	z-index: 1;
}
.header__menu ul li {
	display: inline-block;
	margin-left: 30px;
	position: relative;
}
.header__menu.menu-dark ul li:first-child {
	margin-left: 0;
}
.header__menu ul li a {
	color: #647589;
	font-weight: 500;
	padding: 48px 0;
	display: block;
	font-size: 14px;
}
.header__menu.header-menu-white ul li a {
	color: #ffff;
}
.header__menu.header-menu-white ul li a:hover {
	color: #E12454;
}
.header__menu.menu-dark ul li a {
	padding: 20px 0;
	color: #b2bfcf;
}
.header__menu ul li a:hover {
	color: #223645;
}
.header__menu.menu-dark ul li a:hover {
	color: #fff;
}
.header__menu ul li ul.submenu {
	position: absolute;
	background: #ffffff;
	width: 250px;
	top: 110%;
	left: 0;
	opacity: 0;
	visibility: hidden;
	padding: 25px 0;
	-webkit-transition: all 0.3s ease-out 0s;
	-moz-transition: all 0.3s ease-out 0s;
	-ms-transition: all 0.3s ease-out 0s;
	-o-transition: all 0.3s ease-out 0s;
	transition: all 0.3s ease-out 0s;
	border-top: 5px solid #e12454;
	box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.05);
	z-index: 99;
}
.header__menu.header-menu-white ul li ul.submenu {
	background: #001D26;
}
.header__menu.menu-dark ul li ul.submenu {
	background: #223645;
}
.header__menu.menu-dark ul li ul.submenu li a {
	color: #b2bfcf;
}
.header__menu.menu-dark ul li ul.submenu li a:hover {
	color: #fff;
}
.header__menu ul li ul.submenu li {
	margin: 0;
	display: block;
}
.header__menu ul li ul.submenu li a {
	padding: 11px 30px;
}
.header__menu.header-menu-white ul li ul.submenu li:hover > a {
	color: #E12454;
}
.header__menu ul li:hover ul.submenu {
	opacity: 1;
	visibility: visible;
	top: 96%;
}
.header__menu ul li ul.submenu li:hover > a {
	color: #223645;
}
.header-social-icons {
	padding-top: 48px;
	padding-right: 25px;
}
.main-menu ul li:hover > a {
	color: #223645;
}
.header-right {
	margin-left: 22px;
}
.header-social-icons ul li {
	display: inline-block;
}
.header-menu-search {
	margin-left: 24px;
}
.header-social-icons ul li a {
    font-weight: 500;
	color: #647589;
    display: inline-block;
    margin: 0 8px;
}
.header-menu-blue .header-social-icons ul li a:hover {
	color: #fff;
}
.header-social-icons ul li a:hover {
	color: #223645;
}
.header-lang a {
	position: relative;
}
.header-lang span {
	color: #0a1121;
	font-weight: 500;
	letter-spacing: 1px;
}
.header-lang span {
	color: #0a1121;
	font-weight: 500;
	letter-spacing: 1px;
	margin-left: 13px;
}
.header-lang-list {
	position: absolute;
	width: 100%;
	right: 0;
	opacity: 0;
	visibility: hidden;
	padding: 20px 15px;
	border-top: 3px solid;
	transition: .4s;
	z-index: 999;
	background: #fff;
	padding-bottom: 5px;
	padding-top: 4px;
	top: 100%;
}
.header-lang-list-3 {
	margin-top: 15px;
}
.header-lang {
	padding: 28px 0px;
}
.header-lang img {
	width: 60px;
	height: 60px;
	border: 3px solid #fff;
	box-shadow: 0px 8px 16px 0px rgba(241, 87, 19, 0.2);
	border-radius: 50%;
}
.header-lang a {
	display: inline-block;
}
.header-lang:hover .header-lang-list {
	opacity: 1;
	visibility: visible;
}
.header-lang-list li {
	display: block;
	margin-bottom: 0;
	padding: 5px 0;
}
.header-lang-list li a {
	display: block;
	color: #647589;
	font-size: 13px;
}
.header-lang-list li a:hover{
	display: block;
	color: #E12454;
}

/* Menu Search
-------------------------------------------------------*/
.nav-search {
  position: relative;
  display: block;
  color: inherit;
}

.nav-search:hover {
  color: inherit;
}

.search-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 121;
  background: rgba(0,0,0,.9);
}

.search-wrap .search-inner {
  position: relative;
  width: 100%;
  height: 100%;
}
.search-wrap .search-cell {
	position: absolute;
	top: 50%;
	width: 100%;
	transform: translateY(-50%);
}

.search-wrap .search-field-holder {
  width: 50%;
  margin: auto;
  position: relative;
  animation: slideInUp .3s;
}

.search-wrap .main-search-input {
	width: 100%;
	height: 70px;
	border: 0;
	padding: 0 50px;
	text-transform: uppercase;
	background: transparent;
	font-size: 25px;
	color: #fff;
	border-bottom: 2px solid #898989;
	text-align: center;
	letter-spacing: 2px;
}

.search-wrap input.form-control,
.search-wrap input.form-control:focus {
  background-color: #fff;
}

@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

input.main-search-input::-webkit-input-placeholder {
  color: #fff;
  font-size: 25px;
}

input.main-search-input:-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}

input.main-search-input::-moz-placeholder {
  color: #fff;
  opacity: 1;
  font-size: 25px;
}

input.main-search-input:-ms-input-placeholder {
  color: #fff;
  font-size: 25px;
}

.search-close {
	position: absolute;
	top: 50px;
	right: 50px;
	font-size: 30px;
	color: #fff;
	cursor: pointer;
}

.mobile-links li > a {
  padding: 15px 0 15px 15px;
  line-height: 20px;
  border-bottom: 1px solid #ebebeb;
  color: #7f7f7f;
  display: block;
}

.mobile-links li > a:hover {
  color: #b79d82;
}

/* 3. Slider */
.slider-height {
	min-height: 900px;
	background-position: center top;
}
.slider-height-2 {
	min-height: 950px;
}
.slider-height-3 {
	min-height: 780px;
}
.slider-right-2 {
	padding-top: 180px;
}
.hero-text-box {
	padding: 75px;
	background: #fff;
	padding-right: 66px;
}
.hero-slider-caption h5 {
	margin-bottom: 25px;
}
.hero-slider-caption h1 {
	font-size: 80px;
	margin-bottom: 20px;
	letter-spacing: -2.3px;
}
.hero-slider-caption p {
	margin-bottom: 35px;
}
.caregive-box {
	border-radius: 16px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(227, 220, 255, 0.4);
	padding: 60px;
	padding-bottom: 24px;
}
.search-form .sub-heading {
	font-size: 14px;
	font-weight: 500;
	color: #aab6bf;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 15px;
	display: block;
}
.search-form h3 {
	font-size: 36px;
	margin-bottom: 45px;
}
.label span {
	font-size: 12px;
	font-weight: 500;
	color: #aab6bf;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	padding-left: 70px;
}
.nice-select.postform {
	width: 100%;
	border: 0;
	padding-left: 0;
	line-height: 1;
}
.care-give-option img {
	position: absolute;
	z-index: 9;
	top: -13px;
	left: 0;
}
.nice-select.postform .current {
	font-size: 24px;
	color: #223645;
	font-weight: 600;
	letter-spacing: -.3px;
	font-family: poppins;
	text-transform: capitalize;
}
.nice-select.postform .list {
	z-index: 16;
	width: 100%;
	border-radius: 0;
	margin-top: 13px;
}

.slider-active button.slick-arrow {
	position: absolute;
	top: 50%;
	left: 90px;
	transform: translateY(-50%);
	background: none;
	border: 0;
	font-size: 16px;
	padding: 0;
	color: #10111e;
	z-index: 2;
	opacity: 0;
	visibility: hidden;
	height: 80px;
	width: 80px;
	border-radius: 50%;
	cursor: pointer;
	background: #fff;
	line-height: 80px;
}
.slider-3 button.slick-arrow {
	color: #10111e;
	background: #fff1f0;
}
.slider-active button.slick-next{left: auto;right:90px;}
.slider-active:hover button.slick-prev{left: 105px;}
.slider-active:hover button.slick-next{right: 105px;}
.slider-active:hover button{
    opacity: 1;
    visibility: visible;
}
.slider-active button:hover{
    background: #e12454;
	color: #fff;
	box-shadow: 0px 6px 12px 0px rgba(254, 69, 54, 0.4);
}
/* 4. About */
.about-shape {
	position: absolute;
	top: 60px;
	left: -60px;
	z-index: -9;
}
.about-front-img {
	box-shadow: 0px 16px 32px 0px rgba(136, 136, 136, 0.2);
}
.about-title h5 {
	margin-bottom: 27px;
}
.about-right-side {
	padding-left: 23px;
}
.author-ava {
	margin-right: 30px;
}
.author-desination h6 {
	color: #e12454;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.author-desination h4 {
	margin-bottom: 13px;
}
.single-item .mv-icon {
	margin-right: 30px;
}
.mv-title h3 {
	font-size: 24px;
	margin-bottom: 20px;
}
.mv-title p {
	padding-right: 73px;
}
.facalty-text p {
	line-height: 26px;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}
.about-text-list ul li {
	margin-bottom: 20px;
}
.about-text-list ul li i {
	height: 40px;
	width: 40px;
	line-height: 38px;
	text-align: center;
	border-radius: 50%;
	background: #f6f5ff;
	padding-left: 3px;
	margin-right: 20px;
	transition: .4s;
	display: inline-block;
}
.about-text-list ul li:hover i {
    background: #DF2855;
    color: #fff;
}
.about-text p {
	padding-right: 46px;
}
.mv-text p {
	font-size: 20px;
	color: #223645;
	margin-bottom: 0;
	padding-right: 27px;
	padding-top: 5px;
}
.mv-single-list {
	padding: 30px 0;
	border-top: 1px solid #dedeff;
	border-bottom: 1px solid #dedeff;
}
.mv-icon {
	margin-right: 30px;
}
.mv-right-img img {
	padding: 10px;
	background-color: #fff;
	box-shadow: 0px 16px 32px 0px rgba(205, 203, 255, 0.4);
	border-radius: 5px;
}
.testi-quato-icon.about-icon-white {
	float: right;
	margin: 0;
	margin-top: -49px;
	margin-right: -70px;
	position: relative;
	z-index: 1;
}
.medical-icon-brand {
	display: inline-block;
	height: 100px;
	width: 100px;
	text-align: center;
	line-height: 100px;
	border-radius: 50%;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(136, 136, 136, 0.2);
	margin-right: 51px;
	margin-top: 48px;
	margin-left: 47px;
	z-index: -9;
}
.medical-icon-brand-2 {
	position: absolute;
	z-index: 9;
	right: -90px;
	top: 50%;
	transform: translateY(-50%);
}
.medical-icon-brand-3 {
	right: -106px;
	margin-top: 21px;
}
.medical-icon-brand::before {
	position: absolute;
	content: "";
	left: -28px;
	right: 0;
	bottom: 0;
	top: -30px;
	height: 156px;
	width: 156px;
	border: 2px dashed #e6e6e6;
	border-radius: 50%;
}
.medical-icon-brand::after {
	position: absolute;
	content: "";
	left: -55px;
	right: 0;
	bottom: 0;
	top: -58px;
	height: 210px;
	width: 210px;
	border: 2px dashed #e6e6e6;
	border-radius: 50%;
}
.about-right-content {
	padding-right: 50px;
}
/* 5. Section Title */
.section-title h5 {
	margin-bottom: 28px;
}
.section-text.section-text-green h1 {
	margin-bottom: 24px;
}
.section-text-white h5 {
	color: #899dab;
}
.section-text-green h5 {
	color: #8fb569;
	font-weight: 400;
}
.section-text-small h5 {
	color: #e12454;
	text-transform: uppercase;
}
.calculate-section .section-text-white h5 {
	color: #b1c5d3;
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 25px;
}
.section-text-green p {
	color: #899dab;
	padding-right: 90px;
}
.section-title h1 {
	margin-bottom: 18px;
	line-height: 1.2;
}
.section-back-icon {
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: -50px;
}
.section-text-small h1 {
	font-size: 50px;
}
.back-icon-left {
	margin: 0;
}
.back-icon-right {
	margin: inherit;
	left: inherit;
}
/* 6. Services */
.service-thumb {
	margin-bottom: 45px;
}
.service-box-3 .service-content-box {
	padding: 0 15px;
	margin-top: -30px;
	position: relative;
}
.service-box-3 .service-content {
	padding: 40px;
	background: #fff;
	padding-bottom: 20px;
	transition: .4s;
}
.service-box-3:hover .service-content {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(181, 179, 255, 0.2);
}
.service-box-3 .service-thumb {
	margin-bottom: 0;
}
.service-box-2 .service-thumb {
	margin-bottom: 37px;
}
.service-content h3 {
	margin-bottom: 22px;
}
.service-content-2 h3 {
	font-size: 40px;
}
.service-box.service-box-2 .service-content-2 h3 a:hover {
	color: #E12454;
}

.service-content-2 h3 a {
	padding-bottom: 23px;
	display: block;
	position: relative;
}
.service-content-2 h3 a::after, .service-content-2 h3 a::before {
	position: absolute;
	content: "";
	height: 2px;
	width: 50px;
	left: 0;
	background: #e2e0ff;
	bottom: 0;
	transition: .4s;
}
.service-content-2 h3 a::before {
	background: #E12454;
	z-index: 9;
	width: 0;
	width: 0px;
	visibility: hidden;
	opacity: 0;
}
.service-content-2 h3 a:hover::before {
	transition: .6s;
	width: 50px;
	visibility: visible;
	opacity: 1;
}
.service-content.service-content-2 p {
	padding-right: 30px;
}
.service-box {
	padding: 53px;
    background: #fff;
    transition: .4s;
}
.service-box-2 {
	padding: 80px;
	padding-bottom: 72px;
}
.service-box.service-box-border {
	border: 2px solid #f4f4f4;
}
.service-link {
	color: #647589;
	font-weight: 500;
	margin-top: 5px;
	display: inline-block;
}
.service-box-3 .service-link {
	display: block;
	background: #e8f1f7;
	margin: 0;
	padding: 16px;
	transition: .4s;
}
.service-box-3  a.service-link:hover {
	background: #e12454;
	color: #fff;
}
.service-content-2 a.service-link {
	color: #9ca8b6;
}
.service-box-2 .service-content-2 a.service-link:hover {
	color: #e12454;
}
.service-content-2 a.service-link i {
	margin-right: 5px;
}
.service-box .service-content h3 a:hover {
    color: #8fb569;
}
.service-box .service-link:hover {
    color: #8fb569;
}
.service-box:hover {
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 16px 32px 0px rgba(196, 203, 255, 0.3);
}
.service-box.service-box-border:hover {
	border: 2px solid transparent;
}
.service-big-number {
	position: absolute;
	top: 0;
	right: 19px;
	font-size: 200px;
	color: #f7f7ff;
}
.service-details-text p {
	line-height: 26px;
	padding-right: 16px;
}
.service-details-thumb img {
	width: 100%;
}
.ser-fea-box {
	margin-right: 70px;
}
.ser-fea-icon {
	margin-right: 30px;
}
.ser-fea-list h3 {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 23px;
}
.ser-fea-list ul li {
	margin-bottom: 12px;
}
.ser-fea-list ul li i {
	color: #8fb569;
	margin-right: 5px;
}
.download-area a img {
	float: left;
	margin-right: 20px;
}
.download-area a span {
	font-weight: 500;
	color: #223645;
	margin-top: 12px;
	display: inline-block;
	transition: .4s;
}
.download-area a:hover span {
	color: #e12454;
}
.download-area a span.download-size {
	color: #647589;
	font-weight: 400;
	float: right;
}
.download-box {
	display: inline-block;
	padding: 18px 48px;
	width: 100%;
	border: 2px solid #e0e9ff;
}
.testi-box .testi-service-content p {
	padding: 0 10px;
}
/* service-sidebar */
.service-map{
	min-height: 400px;
}
.more-service-icon {
	width: 50px;
}
.more-service-title {
	font-size: 16px;
	font-weight: 500;
	color: #223645;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-left: 20px;
	transition: .4s;
}
.doctor-details-title {
	font-size: 24px;
	letter-spacing: 0;
	text-transform: capitalize;
}
.more-service-title span {
	display: block;
	color: #647589;
	font-weight: 400;
	letter-spacing: 0;
	font-size: 14px;
	text-transform: capitalize;
	margin-top: 2px;
}
.more-service-list ul li a:hover .more-service-title {
	color: #e12454;
}
.more-service-list ul li a {
	display: flex;
	align-items: center;
	padding-bottom: 20px;
	border-bottom: 2px solid #f2edff;
	margin-bottom: 20px;
}
.more-service-list ul li:last-child a {
	margin-bottom: 0;
	border-bottom: 0;
	padding-bottom: 0;
}
/* service-contact */
.contact-input input {
	width: 100%;
	height: 60px;
	padding: 0;
	padding-left: 60px;
	border: 2px solid #f0f8ff;
	color: #647589;
	font-weight: 400;
}
.contact-input input::placeholder {
	color: #647589;
}
.contact-icon {
	position: relative;
}
.contact-icon::before {
	position: absolute;
	content: "\f007";
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	font-size: 14px;
	color: #8fb569;
	top: 20px;
	left: 30px;
	z-index: 99;
}
.contact-mail::before {
	content: "\f0e0";
}
.service-contact-form .nice-select {
	width: 100%;
	height: 60px;
	padding-top: 9px;
	padding-left: 60px;
	padding-bottom: 9px;
	border: 2px solid #f0f8ff;
	border-radius: 0;
}
.service-contact-form .nice-select .current {
	font-weight: 400;
	color: #647589;
	font-size: 14px;
}
.service-contact-form .nice-select ul.list {
	width: 100%;
	border-radius: 0;
	border: 2px solid #f0f8ff;
}
.contact-hourglass::before {
	content: "\f254";
}
.ser-form-btn {
	margin-bottom: -82px;
}
/* 7. Team */
.team-box-2 {
	padding: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(181, 179, 255, 0.1);
	padding-bottom: 18px;
}
.team-box-3 {
	padding: 0;
	box-shadow: none;
	margin-bottom: 0;
}
.team-content h3 {
	margin-bottom: 17px;
}
.team-content h6 {
	color: #e12454;
	text-transform: uppercase;
	letter-spacing: 1px;
}
.team-link {
	position: absolute;
	bottom: 25px;
	height: 60px;
	width: 60px;
	display: inline-block;
	border-radius: 50%;
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 8px 16px 0px rgba(143, 181, 105, 0.3);
	font-size: 26px;
	font-weight: 600;
	line-height: 60px;
	color: #fff;
	right: 51px;
}
.team-link:hover {
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
	color: #fff;
}
.team-box-2 .team-member-info h3 {
	margin-bottom: 18px;
}
.team-box-3 .team-member-info h3 {
	font-size: 36px;
}
.team-author-info span {
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #e12454;
	padding: 11px 20px;
	display: inline-block;
	background: #fff;
}
.team-author-info h6 {
	font-size: 18px;
	color: #223645;
	padding: 11px 20px;
	background: #fff;
}
.team-author-info {
	position: absolute;
	margin-top: -60px;
	margin-left: 30px;
	transition: .4s;
	visibility: hidden;
	opacity: 0;
	right: 0;
	width: 146%;
	left: 0;
	z-index: 99;
	box-shadow: 0px 8px 16px 0px rgba(205, 190, 255, 0.2);
}
.team-box:hover .team-author-info {
	opacity: 1;
	visibility: visible;
}
.team-activation .slick-dots {
	text-align: center;
	margin-bottom: 30px;
}
.team-activation .slick-dots li {
  display: inline-block;
  cursor: pointer;
}
.team-activation .slick-dots li button {
  text-indent: -111111111111px;
  padding: 0;
  width: 30px;
  height: 4px;
  border: 0;
  background: #e0e9ff;
  margin: 0 5px;
  cursor: pointer;
}
.team-activation .slick-dots li.slick-active button {
  background: #8fb569;
}
.team-social-profile ul li {
	display: inline-block;
	margin: 0 9.5px;
}
.team-social-profile ul li a {
	font-size: 14px;
	color: #a0aab1;
}
.team-social-profile ul li a:hover {
	color: #ce1b28;
}
/* 8. Fact */
.fact-map::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	top: 0;
	left: 0;
	background-position: center center;
}
.cta-satisfied {
	padding-left: 129px;
}
.single-satisfied h1 {
	color: #8fb569;
	float: left;
	width: 140px;
	margin-right: 20px;
}
.single-satisfied h5 {
	color: #fff;
	margin-bottom: 15px;
}
.single-satisfied h5 i {
	margin-right: 5px;
}
.single-satisfied p {
	color: #899dab;
}
.single-satisfied h5, .single-satisfied p {
	width: calc(100% - 160px);
	display: inline-block;
}
/* 9. Pricing */
.pricing-box {
	padding: 60px;
	background: #fff;
}
.pricing-content h1 {
	font-size: 40px;
	margin-bottom: 15px;
}
.pricing-content p {
	margin-bottom: 23px;
}
.pricing-menu .nav.nav-pills {
	border: 2px solid #eae7ff;
    border-radius: 40px;
    background-color: #fff;
}
.pricing-menu a.nav-link {
	padding: 30px 50px;
	line-height: 1;
	border-radius: 0;
	font-size: 14px;
	color: #223645;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 500;
}
.pricing-menu a.nav-link.active {
	border-radius: 40px;
	background: #e12454;
	padding-left: 50px;
	transform: scale(1.04);
}
.price-box-flat {
	background: #fff;
}
.pricing-title h6 {
	background: #1d2f3c;
	padding: 30px 60px;
	transition: .4s;
}
.price-box-flat:hover .pricing-title h6 {
	background: #e12454;
	color:#ffff;
}
.price-box-flat:hover .price-btn-2 a {
	background: #8fb569;
	color:#ffff;
}
.price-content {
	padding: 60px;
	padding-right: 50px;
	padding-bottom: 53px;
	padding-top: 38px;
}
.price-heading h1 span {
	font-size: 20px;
}
.price-heading h1 {
	font-size: 70px;
	margin-bottom: 42px;
}
.pricing-list ul li {
	margin-bottom: 30px;
}
.pricing-list ul li:last-child {
	margin: 0;
}
.pricing-list ul li i {
	color: #223645;
	margin-right: 9px;
}
.price-del {
	color: #b9c1cb;
}
li.price-del i {
	color: #b9c1cb !important;
}
.price-btn-2 a {
	width: 100%;
	color: #223645;
	background-color: #e1e5ff;
}
.pricing-area .pricing-nav {
	padding: 0;
	border-radius: 40px;
	display: inline-block;
	margin-top: 60px;
	background: #344a5a;
}
.pricing-area .pricing-nav .nav-tabs {
	border: 0;
}
.pricing-area nav.pricing-nav .nav-tabs .nav-link {
	padding: 30px 50px;
	border: 0;
	color: #afb1d1;
	font-weight: 500;
	border-radius: 40px;
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	transition: .7s;
}
.pricing-area nav.pricing-nav .nav-item.nav-link.active {
	color: #fff;
	border-radius: 40px;
	padding-right: 54px;
	padding-left: 54px;
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.3);
}
/* 10. CTA */
.cta-area::before {
	position: absolute;
	content: "";
	background-color: rgba(19,35,47,0.94);
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
}
/* latest-news */
.news-tag {
	color: #e12454;
	font-weight: 500;
}
.latest-news-content h3 {
	font-size: 22px;
	line-height: 1.3;
	margin-bottom: 19px;
}
.latest-news-content h3 a:hover {
	color: #e12454;
}
.recent-news-list {
	padding: 41px;
	border: 2px solid #eae7ff;
	padding-bottom: 40px;
}
.singl-news.news-border-bottom {
	padding-bottom: 31px;
	border-bottom: 2px solid #e3ecf2;
	margin-bottom: 31px;
}
.meta-date {
	margin-right: 29px;
}
.meta-date i {
	margin-right: 5px;
}
.meta-date a {
	color: #647589;
}
.latest-news-box-2 .latest-news-content-box {
	padding: 0 15px;
}
.latest-news-box-2 .latest-news-content {
	padding: 40px;
	background: #fff;
	margin-top: -30px;
	position: relative;
	z-index: 9;
	padding-bottom: 15px;
}
.latest-news-box-2 .latest-news-content h3 {
	margin-bottom: 13px;
}
.latest-news-box-2 .news-tag {
	color: #8fb569;
}
.latest-news-box-2 .latest-news-content h3 a:hover {
	color: #8fb569;
}
.blog-feeds-text h5 {
	color: #bdc1d5;
	line-height: 1.3;
	margin-bottom: 4px;
}
.latest-news-box-3 {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(178, 176, 255, 0.2);
}
.latest-news-box-3 .latest-news-content {
	margin-top: 0;
}
/* 11. Footer */
.emmergency-call-icon i {
	font-size: 36px;
	color: #e12454;
	margin-right: 30px;
}
.emmergency-call h6 {
	font-weight: 400;
	color: #647589;
	display: block;
	margin-bottom: 0;
}

.emmergency-call span {
	font-size: 36px;
	font-weight: 500;
	color: #13232f;
}
.emmergency-call {
	padding-bottom: 25px;
	border-bottom: 2px solid #ebebeb;
	margin-bottom: 40px;
}
.footer-contact-info {
	border-radius: 16px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(156, 156, 156, 0.2);
	padding: 60px;
	padding-bottom: 55px;
	margin-top: -226px;
}
.footer-contact-info-3 {
	margin-top: 0;
	padding: 0;
	background: 0;
	box-shadow: none;
}
.footer-menu.footer-menu-2 {
	overflow: hidden;
}
.footer-contact-info-3 .footer-contact-content p {
	color: #91a1b4;
	padding-right: 20px;
}
.footer-emailing ul li {
	font-size: 18px;
	color: #647589;
	margin-bottom: 12px;
}
.footer-contact-info-3 .footer-emailing ul li {
	color: #91a1b4;
}
.footer-emailing ul li:last-child {
	margin: 0;
}
.footer-co-content {
	overflow: hidden;
}
.footer-emailing ul li i {
	margin-right: 14px;
}
.footer-title h3 {
	font-size: 24px;
	color: #fff;
	display: block;
	margin-bottom: 46px;
}
.blog-feeds-thumb {
	float: left;
	margin-right: 15px;
}
.blog-feeds-text {
	overflow: hidden;
}
.footer-menu ul li {
	margin-bottom: 30px;
}
.footer-menu-2 ul li {
	float: left;
	width: 50%;
	margin-bottom: 21px;
}
.footer-menu ul li a {
	color: #899dab;
	font-weight: 500;
}
.footer-menu ul li a:hover {
	color: #8fb569;
	text-decoration: underline;
}
.footer-bottom {
	background: #0d1b26;
}
.footer-copyright p {
	margin: 0;
	color: #9aacbb;
}
.footer-copyright-3 p {
	color: #9aacbb;
}
.footer-subscribe-title span {
	font-size: 16px;
	font-weight: 500;
	color: #fff;
	padding-right: 53px;
	display: block;
}
.footer-newsletter input {
	width: 100%;
	height: 80px;
	border-radius: 40px;
	padding: 0 50px;
	border: 0;
	color: #696969;
}
.footer-newsletter {
	position: relative;
}
.footer-newsletter button {
	position: absolute;
	right: 0;
	border-radius: 40px;
	top: 8px;
	right: 10px;
	padding: 25px 43px;
}
.footer-top-form {
	padding-bottom: 60px;
	border-bottom: 1px solid #4e5e6a;
}
.footer-bottom-0 {
	border-top: 1px solid #4e5e6a;
	padding-top: 24px;
	padding-bottom: 6px;
}
.footer-co-icon {
	margin-right: 20px;
}
.footer-co-content span {
	font-weight: 500;
	color: #96a0a8;
	text-transform: uppercase;
	margin-bottom: 9px;
	display: block;
}
.footer-co-content h4 {
	font-size: 24px;
	color: #fff;
}
.footer-co-content ul li {
	display: inline-block;
}
.footer-co-content ul li a {
	font-size: 18px;
	color: #fff;
	margin-right: 19px;
}
.footer-map::before {
	position: absolute;
	content: "";
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	min-height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	margin: 0 auto;
}
/* page-title */
.breadcrumb-bg {
	background-size: cover;
	background-position: center center;
}
.small-text {
	color: #647589;
	font-size: 18px;
	font-weight: 500;
}
.page-title h1 {
	font-size: 60px;
}
.page-height {
	min-height: 500px;
}
.page-breadcumb nav ol {
	background: 0;
	padding: 0;
	margin: 0;
}
.page-breadcumb .breadcrumb-item a {
	color: #95a3b3;
	font-weight: 500;
}
.page-breadcumb .breadcrumb-item.active {
	font-weight: 500;
	color: #e12454;
}
.page-breadcumb .breadcrumb-item + .breadcrumb-item::before {
	content: "|";
}
/* 12. Counter */
.single-couter h1 {
	font-size: 80px;
	color: #e12454;
	margin-top: 20px;
	font-weight: 200;
}
.counter-box h1 {
	font-weight: 600;
	color: #fff;
	font-size: 50px;
	margin-top: 12px;
}
.counter-box-white h1 {
	color: #223645;
}
.single-couter h3 {
    font-size: 24px;
    margin-top: 10px;
    margin-bottom: 17px;
}
.single-couter p {
	margin-bottom: 0;
	padding-right: 40px;
}
.counter-text p {
	width: 100%;
	padding: 0 52px;
}
.counter-box-white h6 {
	position: relative;
	margin-bottom: 11px;
}
.counter-box-white h6::after, .counter-box-white h6::before {
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	left: 0;
	background: #e8ebff;
	right: 0;
	margin: auto;
	bottom: 0;
}
.counter-box-white h6::before {
	background: #E12454;
	z-index: 9;
	width: 0px;
	transition: .3s;
	visibility: hidden;
	opacity: 0;
}
.counter-box.counter-box-white:hover h6::before {
	width: 30px;
	visibility: visible;
	opacity: 1;
}
/* 13. Appoinment */
.appoinment-section {
    background-size: cover;
    background-position: center top;
}
.appoinment-content span {
	font-size: 18px;
	font-weight: 500;
	color: #e12454;
}
.appoinment-box.white {
    background-color: #fff;
}
.appoinment-content {
	padding-top: 55px;
	padding-left: 55px;
	padding-right: 55px;
}
.appoinment-content h1 {
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: 30px;
}
.appoinment-box .btn {
    width: 100%;
}
.professinals-list li {
	line-height: 28px;
	color: #697a8d;
	margin-bottom: 20px;
}
.professinals-list li i {
	width: 30px;
	height: 30px;
	line-height: 26px;
	text-align: center;
	border-radius: 50%;
	color: #8fb569;
	margin-right: 20px;
	float: left;
	border: 2px solid #8fb569;
	font-size: 12px;
	transition: .4s;
}
.professinals-list li:hover i {
	background: #8fb569;
	color: #fff;
}
/* 14. Testimonials */
.testi-quato-icon {
	height: 80px;
	width: 80px;
	display: inline-block;
	border-radius: 50%;
	background-color: rgb(225, 36, 84);
	box-shadow: 0px 16px 32px 0px rgba(225, 36, 84, 0.4);
	line-height: 80px;
	margin-bottom: 45px;
	margin-top: 32px;
	text-align: center;
	transition: .4s;
}
.testi-quato-icon img {
	display: inline-block;
}
.testi-quato-icon-green {
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 16px 32px 0px rgba(143, 181, 105, 0.4);
	transition: .4s;
}
.testi-box-2:hover .testi-quato-icon-green {
	background-color: rgb(225, 36, 84);
  	box-shadow: 0px 16px 32px 0px rgba(225, 36, 84, 0.4);
}
.testi-content p {
	font-size: 28px;
	line-height: 48px;
	padding: 0 65px;
	margin-bottom: 120px;
}
.testi-author-title {
	font-size: 28px;
}
.testi-author-desination {
	font-weight: 500;
	color: #8fb569;
	text-transform: uppercase;
	letter-spacing: 2px;
	display: block;
	margin-bottom: 25px;
}
.testi-content span {
	height: 70px;
	width: 2px;
	background: #e12454;
	position: absolute;
	bottom: -91px;
	left: 0;
	right: 0;
	margin: auto;
}

.testi-bg-icon {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: -9;
}
.test-author-icon {
	display: inline-block;
	border-radius: 50%;
	background-color: rgb(231, 231, 231);
	box-shadow: 0px 8px 16px 0px rgba(71, 71, 71, 0.2);
}
.testi-box {
	margin-bottom: 212px;
}
.testi-rating-list ul li {
	display: inline-block;
}
.testi-content-2 h3 {
	font-size: 24px;
	line-height: 1.4;
	margin-bottom: 20px;
}
.testi-content-2 p {
	line-height: 26px;
	padding-right: 45px;
}
.testi-author-icon-2 {
	margin-right: 30px;
}
.testi-author-desination-2 h4 {
	font-size: 20px;
	margin-bottom: 14px;
}
.testi-rating-list ul li i {
	color: #ffae00;
}
/* 15. Analysis */
.analysis-bg-icon {
	position: absolute;
	left: 30px;
	top: 47px;
}
.analysis-area .nav.nav-pills {
	margin-top: -212px;
}
.analysis-area .nav-item {
	text-align: center;
	margin-right: 30px;
	width: 31.5%;
}
.analysis-area .nav-item:last-child {
	margin-right: 0;
}
.analysis-area .nav-item a h6 {
	text-transform: uppercase;
	letter-spacing: 2px;
	color: #fff;
	margin: 0;
	margin-top: 37px;
}
.analysis-area .nav-item a.nav-link {
	padding: 70px;
	border-radius: 0;
	position: relative;
}
.analysis-area .nav-item a.nav-link::after {
	position: absolute;
	height: 20px;
	width: 20px;
	background: #e12454;
	content: "";
	left: 0;
	right: 0;
	margin: auto;
	bottom: -10px;
	transform: rotate(45deg);
	opacity: 0;
	visibility: hidden;
}
.analysis-area .nav-item:nth-child(2) a.nav-link::after {
	background: #8fb569;
}
.analysis-area .nav-item:nth-child(3) a.nav-link::after {
	background: #f4f9fc;
}
.analysis-area .nav-item a.nav-link.active::after {
	opacity: 1;
	visibility: visible;
}
.analysis-area ul li.nav-item .nav-link.active {
	background: 0;
}
.analysis-area ul li.nav-item:nth-child(1) a.nav-link {
	background: #e12454;
}
.analysis-area ul li.nav-item:nth-child(2) a.nav-link {
	background: #8fb569;
}
.analysis-area ul li.nav-item:nth-child(3) a.nav-link {
	background: #f4f9fc;
}
.analysis-area ul li.nav-item:nth-child(3) a.nav-link h6 {
	color: #223645;
}
.analysis-chart {
	margin-top: 50px;
}
/* calculate */
.calculate-area::before {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: #223645;
	opacity: 0.90;
	top: 0;
	left: 0;
	right: 0;
}
.calculate-section .section-text p {
	font-size: 30px;
	color: #b4c8d7;
	line-height: 42px;
	padding-right: 35px;
}
.calculate-content {
	padding: 60px;
	background: #fff;
	padding-bottom: 0;
}
.calculate-box .nice-select {
	width: 100%;
	height: 70px;
	padding-top: 14px;
	border-radius: 0;
	border: 2px solid #eee7ff;
	padding-left: 38px;
	margin-bottom: 20px;
}
.calculate-box .nice-select::after {
	margin-right: 18px;
	margin-top: -1px;
}
.calculate-box .nice-select .list {
	width: 100%;
	border-radius: 0;
}
.calculate-form input {
	height: 70px;
	padding-left: 38px;
	width: 100%;
	border: 2px solid #eee7ff;
	position: relative;
}
.calculate-form input::placeholder {
	color: #647589;
}

.calculate-box a {
	width: 100%;
}
.calculate-form {
	position: relative;
}
.calculate-form i {
	position: absolute;
	top: 28px;
	right: 30px;
}
/* hiring */
.hire-text {
	padding: 55px;
}
.hire-text-2 {
	padding-left: 244px;
	padding-right: 137px;
	padding-top: 137px;
	padding-bottom: 151px;
}
.hire-text h1 {
	font-size: 54px;
	margin-bottom: 38px;
}
.hire-text-2 h1 {
	margin-bottom: 22px;
}
.hire-text p {
	line-height: 26px;
	margin-bottom: 25px;
}
.hire-bg {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(197, 191, 255, 0.2);
}
.hire-bg-2 {
	box-shadow: 5px -6px 16px -2px rgba(197, 191, 255, 0.2);
}
.hiring-top {
	position: relative;
}
.hire-left-img {
	position: absolute;
	left: 0;
	width: 50%;
	height: 100%;
	top: 0;
	background-repeat: no-repeat;
}
.hire-right-img {
	position: absolute;
	right: 0;
	width: 50%;
	height: 100%;
	bottom: 0;
	background-repeat: no-repeat;
}
/* widget */
.service-widget {
	padding: 50px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(200, 183, 255, 0.2);
	border-top: 6px solid #8fb569;
	padding-top: 41px;
}
.service-widget .widget-title {
	font-size: 40px;
	margin-bottom: 10px;
}
.doctor-detials-lan ul li {
	display: inline-block;
}
.doctor-detials-lan ul li a {
	height: 60px;
	width: 60px;
	display: block;
	text-align: center;
	line-height: 60px;
	background: #eae4ff;
	font-size: 14px;
	color: #223645;
	text-transform: uppercase;
	font-weight: 500;
	border-radius: 50%;
	margin-right: 19px;
}
.doctor-detials-lan ul li a:hover {
	background-color: rgb(143, 181, 105);
	box-shadow: 0px 8px 16px 0px rgba(143, 181, 105, 0.2);
	color: #fff;
}
/* features */
.feature-box {
	padding: 40px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(205, 190, 255, 0.2);
}
.feature-small-content h3 {
	font-size: 22px;
	margin-bottom: 15px;
}
/* 16. Appoinment */
.appoinment-box-2 {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(223, 217, 255, 0.4);
	margin-top: -241px;
}
.appoinment-box-content {
	padding: 70px 38px 40px 70px;
}
.appointment-form-3 textarea {
	width: 100%;
	resize: none;
	border: 2px solid #d3e2f0;
	padding-top: 28px;
	padding-left: 40px;
	color: #647589;
	height: 120px;
}
.appointment-area-3 .calculate-box .nice-select {
	border: 2px solid #d3e2f0;
}
.appointment-area-3 .calculate-form input {
	border: 2px solid #d3e2f0;
}
.appointment-form-2 input {
	width: 100%;
}
.appointment-form-2 input {
	width: 100%;
	border: 0;
	padding: 0;
}
.appointment-form-2 input::placeholder {
	font-size: 24px;
	color: #223645;
	font-weight: 600;
	font-family: poppins;
}
.appoint-ment-icon {
	margin-right: 40px;
}
.appointment-form-2 label {
	font-size: 12px;
	text-transform: uppercase;
	color: #aab6bf;
	font-weight: 500;
	margin-bottom: 14px;
}
.appoinment-form-box {
	padding-bottom: 27px;
	border-bottom: 1px solid #eae5ff;
}

.appoinment-form-box-option {
	padding-bottom: 8px;
}
.nice-select.postform::after {
	border-bottom: 3px solid #223645;
	border-right: 3px solid #223645;
	content: '';
	display: block;
	height: 8px;
	margin-top: -23px;
	pointer-events: none;
	position: absolute;
	right: 5px;
	top: 50%;
	-webkit-transform-origin: 66% 66%;
	-ms-transform-origin: 66% 66%;
	transform-origin: 66% 66%;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	-webkit-transition: all 0.15s ease-in-out;
	transition: all 0.15s ease-in-out;
	width: 8px;
}
/* news-letter */
.news-letter-title h1 {
	font-size: 50px;
}
.news-letter-box {
	padding: 78px 50px 80px 55px;
	background: #fff;
}
.subscribe-form {
	position: relative;
	z-index: 99;
}
.subscribe-form form {
	position: relative;
}
.subscribe-form form input {
	width: 100%;
	height: 80px;
	border: 0;
	padding: 0 40px;
	background: #f4f9fc;
	border-radius: 40px;
	color: #647589;
}
.subscribe-form form button {
	position: absolute;
	top: 8px;
	right: 10px;
	border-radius: 40px;
	padding: 25px 44px;
}
/* 17. Membership */
.membership-box {
	padding-left: 90px;
	padding-right: 90px;
	z-index: 99999;
	position: relative;
}
.single-membership-box {
	padding: 50px;
	border: 2px solid #dfe0ff;
	padding-bottom: 28px;
}
.membership-line-shape {
	display: inline-block;
	margin-bottom: 22px;
	margin-top: 10px;
}
.single-membership-box h3 {
	font-size: 30px;
}
.membership-bg::before {
	position: absolute;
	content: "";
	background: rgba(0,0,0,.40);
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}
.review-box {
	padding: 40px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 16px 32px 0px rgba(221, 217, 255, 0.2);
}
.members-rating ul li {
	display: inline-block;
	color: #ffc600;
	margin-bottom: 10px;
}
.author-desination-2 h4 {
	font-size: 18px;
	margin-bottom: 7px;
}
.author-desination-2 h6 {
	color: #e12454;
	text-transform: capitalize;
	letter-spacing: 0;
	margin: 0;
}
.membership-review {
	padding: 90px;
}
.membership-review .author-ava {
	margin-right: 15px;
}
.member-ship-map::before {
	position: absolute;
	content: "";
	width: 100%;
	min-height: 100%;
	top: 0;
	left: 0;
}
.owl-carousel .owl-item .single-brand img {
    width: inherit;
    display: inline-block;
}
.single-brand {
    text-align: center;
}
.brand-area::before {
	position: absolute;
	content: "";
	background: rgba(32,47,59,0.94);
	left: 0;
	right: 0;
	width: 100%;
	top: 0;
	height: 100%;
}
/* 18. FAQ */
.faq-left-box {
	margin-bottom: 235px;
}
.faq-pos-front {
	position: absolute;
	bottom: -235px;
	left: 57px;
}
.faq-back-shape {
	position: absolute;
	bottom: -162px;
	left: -130px;
	z-index: -9;
}
.faq-right-box .card {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	border: 0;
	border-radius: 0;
	background: #F8F7FF;
	margin-bottom: 20px;
}
.faq-right-box .card-header {
	padding: 0;
	border-bottom: 0;
	background: none;
	border-radius: 0;
}
.faq-right-box .btn-link {
	font-weight: 400;
	color: #0f1328;
	display: block;
	font-size: 16px;
	padding: 21px 30px;
	border: 2px solid #e12454;
	text-decoration: none;
	line-height: 28px;
	background: #fff;
	border-bottom: 0px solid transparent;
}
.faq-right-box .btn-link::before {
	content: "-";
	line-height: 30px;
	position: absolute;
	right: 43px;
	top: 24px;
	font-size: 24px;
	font-size: 20px;
}
.faq-right-box .btn-link.collapsed::before {
	content: "+";
}
.faq-right-box .card-body {
	-webkit-box-flex: 1;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
	padding: 0px 30px;
	padding-top: 0;
	padding-bottom: 22px;
	border: 2px solid #e12454;
	background: #fff;
	border-top: 0;
}
.faq-right-box .card-body p {
	margin: 0;
	font-size: 14px;
}
.faq-right-box .btn-link.collapsed {
	border: 2px solid #e7e6ff;
}


/* 19. Blog */
.latest-news {
  position: relative; }

.news__thumb img {
  width: 100%; }
.postbox__thumb img {
	width: 100%;
}
.blog-inner-img img{
	width: 100%;
}
.news-meta span {
	font-weight: 500;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #747691;
	margin-right: 15px;
	font-size: 13px;
}
.news-meta span a {
	color: #747691;
}
.news-meta span a:hover {
	color: #e12454;
}
.news__caption h2 {
	font-size: 24px;
	margin-bottom: 15px;
	line-height: 1.4;
}
      .news__caption h2 a:hover {
		color: #e12454;
	}

.news-link {
  font-size: 12px;
  color: #e4ecf3;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .news-link:hover {
    color: #ffffff; }

.news-link i {
  transition: .3s;
  display: inline-block; }

.news-link:hover i {
  transform: translateX(3px); }

.news__thumb-2 img {
  width: 100%;
}

.news__caption-2 {
  padding: 33px;
}

.news__caption-2 h2 {
  font-size: 20px;
  margin-bottom: 15px;
}

.news__caption-2 h2 a:hover {
  color: #e12454;
}

.news__caption-2 p {
  margin-bottom: 0;
}

.news-meta span {
  text-transform: uppercase;
  margin-right: 25px;
  font-size: 13px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .news-meta span {
    margin-right: 10px;
  }
}

.news-meta span a {
  color: #e12454;
  letter-spacing: 2px;
  font-weight: 500;
}

.postbox__thumb {
  position: relative;
}

.postbox__thumb a img {
  max-width: 100%;
}

.post-meta span {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
  color: #6f7172;
  margin-right: 20px;
}

@media (max-width: 767px) {
  .post-meta span {
    margin-right: 10px;
  }
}

.post-meta span a:hover {
  color: #e12454;
}

.post-meta span i {
	color: #e12454;
	margin-right: 2px;
}
.post-meta span a {
	color: #6f7172;
}
.postbox__text {
  background: #faf9ff;
}

.p-50 {
  padding: 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .p-50 {
    padding: 30px;
  }
}

@media (max-width: 767px) {
  .p-50 {
    padding: 30px;
  }
}

.p-30 {
  padding: 30px;
}

.post-meta {
	margin-bottom: 20px;
}

.blog-title {
	font-size: 28px;
	line-height: 1.3;
	margin-bottom: 20px;
}

.blog-title a:hover {
  color: #e12454;
}

.read-more {
  letter-spacing: 2px;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
}
.read-more{
	color: #e12454;
}
.read-more:hover {
  color: #8fb569;
}

.read-more i {
  transition: .3s;
  display: inline-block;
}

.blog-title-sm {
  font-size: 20px;
  margin-bottom: 10px;
  line-height: 1.5;
}

.postbox__gallery .slick-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 30px;
  border: none;
  background: none;
  padding: 0;
  z-index: 9;
  -webkit-transition: all 0.3s ease-out 0s;
  -moz-transition: all 0.3s ease-out 0s;
  -ms-transition: all 0.3s ease-out 0s;
  -o-transition: all 0.3s ease-out 0s;
  transition: all 0.3s ease-out 0s;
  background: #ffffff;
  width: 60px;
  height: 60px;
  color: #6f7172;
  border-radius: 50%;
  font-size: 14px;
}

.postbox__gallery .slick-arrow:hover {
  background: #e12454;
  color: #ffffff;
}

.postbox__gallery .slick-arrow.slick-next {
  right: 30px;
  left: auto;
}

.postbox__video {
  position: relative;
}

.video-btn {
  position: absolute;
  background: #ffffff;
  height: 120px;
  width: 120px;
  top: 50%;
  left: 0;
  right: 0;
  margin: auto;
  text-align: center;
  border-radius: 50%;
  line-height: 120px;
  color: #e12454;
  transform: translateY(-50%);
}

.video-btn:hover {
  background: #e12454;
  color: #ffffff;
}

.post-text blockquote {
  background: #062a4d;
  padding: 50px;
  position: relative;
  padding-left: 120px;
}

@media (max-width: 767px) {
  .post-text blockquote {
    padding: 30px;
  }
}
.post-text blockquote p {
	font-size: 26px;
	margin-bottom: 20px;
	color: #ffffff;
	font-weight: 500;
	line-height: 1.3;
}

.post-text blockquote::before {
  content: "\f10d";
  left: 50px;
  top: 50px;
  position: absolute;
  color: #758799;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  font-size: 41px;
}

@media (max-width: 767px) {
  .post-text blockquote::before {
    position: static;
  }
}

.post-text blockquote footer {
  font-size: 14px;
  letter-spacing: 2px;
  color: #ffffff;
  font-weight: 500;
  text-transform: uppercase;
}

.widget {
	padding: 30px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(200, 183, 255, 0.2);
	border-top: 4px solid #8fb569;
}

.b-0 {
  border: 0;
}

.search-form {
  position: relative;
}
.search-form input {
	width: 100%;
	height: 60px;
	border: 0;
	background: #f5f5f5;
	padding: 0 20px;
}

.search-form button {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background: #062a4d;
  padding: 0 25px;
  color: #ffffff;
  line-height: 60px;
  border: 0;
}

.search-form button:hover {
  background: #e12454;
}

.widget-title {
  font-size: 21px;
  margin-bottom: 0px;
  position: relative;
  display: inline-block;
}

.animate-border::after {
  position: absolute;
  content: "";
  width: 35px;
  height: 3px;
  left: 0;
  bottom: 0;
  border-left: 10px solid #ffffff;
  border-right: 10px solid #ffffff;
  -webkit-animation: animborder 2s linear infinite;
  animation: animborder 2s linear infinite;
}

.animate-border.border-white::after {
  border-color: #ffffff;
}

.animate-border.border-white::after {
  border-color: #ffffff;
}

.about-me img {
	margin-bottom: 25px;
	border-radius: 50%;
}

.about-me h4 {
  font-size: 18px;
  letter-spacing: 1px;
}

.widget-social-icon a {
	display: inline-block;
	margin: 0 8px;
	color: #8fb569;
}

.widget-social-icon a:hover {
  color: #e12454;
}
.banner-widget img {
	max-width: 100%;
}
.widget .recent-posts > li:first-child {
  border: 0;
  padding-top: 0;
}

.widget .recent-posts li:last-child {
  padding-bottom: 0;
}

.widget .recent-posts > li {
  border-top: 1px solid #eaedff;
  padding: 20px 0;
  overflow: hidden;
}

.widget-posts-image {
  float: left;
}

.widget-posts-image img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-right: 15px;
}

.widget-posts-body {
  overflow: hidden;
}

.widget-posts-title {
	margin-bottom: 10px;
	font-size: 16px;
	line-height: 1.3;
}

.widget-posts-title a:hover {
  color: #e12454;
}

.widget-posts-meta {
  font-size: 12px;
}

ul.cat li {
  border-top: 1px solid #eaedff;
  padding: 15px 0;
  overflow: hidden;
}

ul.cat li:first-child {
  border-top: 0;
  padding-top: 0;
}

ul.cat li:last-child {
  padding-bottom: 0;
}
ul.cat li a {
	display: block;
	color: #647589;
}

ul.cat li a:hover {
  color: #e12454;
}

.social-profile a {
  height: 50px;
  width: 50px;
  text-align: center;
  background: #062a4d;
  line-height: 50px;
  margin-right: 2px;
  display: inline-block;
  color: #ffffff;
  margin-bottom: 5px;
}

.social-profile a:hover {
  background: #e12454;
}

#Instafeed {
  margin: 0 -5px;
  overflow: hidden;
}

#Instafeed li {
  width: 33.33%;
  float: left;
  padding: 0 5px;
  margin-bottom: 10px;
}

#Instafeed li img {
  width: 100%;
}

.tag a {
	display: inline-block;
	line-height: 1;
	padding: 12px 18px;
	background: #f5f5f5;
	margin-bottom: 8px;
	margin-right: 5px;
	text-transform: uppercase;
	font-size: 12px;
	font-weight: 500;
	color: #5f5b5b;
	border-radius: 2px;
}

.tag a:hover {
  background: #e12454;
  color: #ffffff;
}

.bg-none {
  background: none;
}

.blog-post-tag span {
  font-size: 18px;
  font-weight: 600;
  display: block;
  margin-bottom: 17px;
  font-family: "Poppins", sans-serif;
  color: #062a4d;
}

.blog-post-tag a {
  color: #646974;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  border: 2px solid #eaedff;
  padding: 12px 24px;
  margin-right: 10px;
  transition: .3s;
  border-radius: 5px;
  margin-bottom: 10px;
}

.blog-post-tag a:hover {
  color: #fff;
  background: #e12454;
  border-color: #e12454;
}

.blog-post-tag a:last-child {
  margin-right: 0;
}

.blog-share-icon span {
  font-size: 18px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  color: #062a4d;
  display: block;
  margin-bottom: 17px;
}

.blog-share-icon a {
  color: #6f7172;
  font-size: 18px;
  transition: .3s;
  margin-right: 22px;
}

.blog-share-icon a:hover {
  color: #e12454;
}

.blog-share-icon a:last-child {
  margin-right: 0;
}

.blog-details-border {
  border-top: 1px solid #eaedff;
  border-bottom: 1px solid #eaedff;
  padding-top: 33px;
  padding-bottom: 23px;
  margin-bottom: 42px;
}
.author {
	background: #f5f5f5;
	padding: 0 60px 44px 60px;
}

@media (max-width: 767px) {
  .author {
    padding: 0 30px 44px 30px;
  }
}

.author-img {
  margin-bottom: 35px;
}

.author-img img {
  margin-top: -60px;
}
.author-text h3 {
	font-size: 24px;
	margin-bottom: 15px;
}
.author-text p {
	margin-bottom: 0;
	font-size: 15px;
	line-height: 28px;
}

.author-icon {
  margin-top: 6px;
  margin-bottom: 25px;
}

.author-icon a {
  font-size: 14px;
  color: #9498b6;
  margin: 0 5px;
  transition: .3s;
}

.author-icon a:hover {
  color: #e12454;
}

.post-comments {
  border-bottom: 1px solid #eaedff;
  margin-bottom: 42px;
  padding-bottom: 46px;
}

.blog-coment-title h2 {
  font-size: 26px;
  margin-bottom: 0;
}

.comments-avatar {
  float: left;
}

@media (max-width: 767px) {
  .comments-avatar {
    float: none;
  }
}

.comments-avatar img {
  width: 100px;
  margin-right: 20px;
}

.latest-comments li:first-child .comments-box {
  border-top: 0;
  padding-top: 0;
}

.latest-comments li:last-child .comments-box {
  border-bottom: 0;
  padding-bottom: 0;
}

.latest-comments li.children {
  margin-left: 100px;
}

@media (max-width: 767px) {
  .latest-comments li.children {
    margin-left: 0;
  }
}

.comments-box {
  border-top: 1px solid #eaedff;
  padding: 30px 0;
}

.comments-text {
  overflow: hidden;
  padding-top: 4px;
}

@media (max-width: 767px) {
  .comments-text {
    margin-top: 15px;
  }
}

.comments-text p {
  margin-bottom: 0;
  margin-top: 8px;
}

.avatar-name h5 {
  font-size: 18px;
  margin-bottom: 7px;
}

.avatar-name span {
  color: #e12454;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.avatar-name {
  margin-bottom: 3px;
  overflow: hidden;
  position: relative;
}

.reply {
  color: #6f7172;
  display: inline-block;
  font-size: 14px;
  font-weight: 400;
  transition: .3s;
  line-height: 1;
  margin-top: 4px;
  position: absolute;
  right: 0;
  top: 0;
}

.reply:hover {
  color: #e12454;
}

.reply i {
  margin-right: 5px;
}

.post-comments-title {
  margin-bottom: 39px;
}

.post-comments-title h2 {
	font-size: 26px;
	color: #140a20;
	margin-bottom: 0;
}

.conatct-post-form {
	background: #f5f5f5;
	padding: 50px;
}

@media (max-width: 767px) {
  .conatct-post-form {
    padding: 20px;
  }
}

.conatct-post-form input {
  border: none;
  height: 60px;
  margin-bottom: 20px;
  padding: 0 30px;
  width: 100%;
  font-size: 14px;
  color: #a7a7c1;
}

.conatct-post-form textarea {
  border: none;
  height: 150px;
  margin-bottom: 20px;
  padding: 30px;
  width: 100%;
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form input::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::-moz-placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

#contacts-form textarea::placeholder {
  color: #a7a7c1;
  font-size: 14px;
}

.contact-icon {
  position: relative;
}

.contact-icon::after {
  position: absolute;
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
  display: inline-block;
  font-size: 16px;
  text-align: center;
  right: 30px;
  color: #e12454;
  top: 18px;
}
.conatct-post-form .contact-icon::before{
	display: none;
}
.contacts-message::after {
  content: "\f303";
}

.contacts-name::after {
  content: "\f007";
}

.contacts-email::after {
  content: "\f0e0";
}

.contacts-website::after {
  content: "\f0ac";
}
.navigation-border {
	border-top: 2px solid #f7f7f7;
	overflow: hidden;
}

.navigation-border {
  border-top: 2px solid #f7f7f7;
  overflow: hidden;
}

.bakix-navigation span {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 500;
  display: block;
  margin-bottom: 10px;
}

.bakix-navigation span a:hover {
  color: #e12454;
}

.bakix-navigation h4 {
  font-size: 24px;
  margin: 0;
}

.bakix-navigation h4 a:hover {
  color: #e12454;
}


.basic-pagination ul {
	display: block;
}
.basic-pagination ul li {
	display: inline-block;
	margin: 0 5px;
}
@media (max-width: 767px) {
	.basic-pagination ul li {
		margin-bottom: 10px;
	}
}
.basic-pagination ul li a {
	height: 70px;
	width: 70px;
	background: #ffffff;
	color: #9990b8;
	font-size: 16px;
	font-weight: 500;
	border-radius: 50%;
	line-height: 70px;
	margin: 0px;
	display: inline-block;
	text-align: center;
}
.basic-pagination ul li a:hover ,.basic-pagination ul li.active a {
	background: #e12454;
	color: #ffffff;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}

.basic-pagination-2 ul li a {
	background: transparent;
	color: #9990b8;
	border: 2px solid #eaebec;
	height: 60px;
	width: 60px;
	line-height: 56px;
}
.basic-pagination-2 ul li a:hover,.basic-pagination-2 ul li.active a {
	background: #e12454;
	color: #ffffff;
	border-color: #e12454;
	box-shadow: 0px 8px 16px 0px rgba(254, 69, 54, 0.3);
}

/* 20. Contact */
.contact {
	border: 1px solid #eaedff;
	padding: 40px 10px;
}
.contact-area {
  background-position: center center;
  background-repeat: no-repeat;
}

.contact i {
	background: #8fb569;
	font-size: 40px;
	height: 150px;
	width: 150px;
	color: #ffffff;
	border-radius: 50%;
	line-height: 135px;
	border: 10px solid #fff;
	box-shadow: 0px 16px 32px 0px rgba(206, 226, 255, 0.4);
	margin-bottom: 30px;
}
.contact h3 {
	font-size: 26px;
	margin-bottom: 15px;
}

.contact p {
  margin: 0;
  padding: 0 50px;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact p {
    padding: 0 10px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact p {
    padding: 0 0px;
  }
}

.contact-form input {
  background: #ffffff;
  height: 80px;
  width: 100%;
  padding: 0 80px;
  padding-right: 30px;
  border: 0;
  color: #aab5ca;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.contact-form textarea {
  color: #aab5ca;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  height: 300px;
  width: 100%;
  padding: 30px 80px;
  border: 0;
}

.form-box::before {
	position: absolute;
	content: "\f0e0";
	font-family: "Font Awesome 5 Free";
	font-weight: 700;
	display: inline-block;
	font-size: 14px;
	text-align: center;
	left: 45px;
	color: #756563;
	top: 29px;
	z-index: 99;
}

.user-icon::before {
  content: "\f007";
}

.email-icon::before {
  content: "\f0e0";
}

.phone-icon::before {
  content: "\f095";
}

.subject-icon::before {
  content: "\f0a6";
}

.contact-form input::-moz-placeholder, .contact-form input::placeholder {
  color: #aab5ca;
}

.contact-form textarea::-moz-placeholder, .contact-form textarea::placeholder {
  color: #aab5ca;
}

.contact-map {
  height: 670px;
  width: 100%;
}

/* 21. Shop */
.product__img {
  position: relative;
}
.product__img img {
	width: 100%;
}
.product:hover .product-action a {
  margin: 0 5px;
  opacity: 1;
  visibility: visible;
}

.product-action {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 30px;
}

.product-action a {
	height: 50px;
	display: inline-block;
	width: 50px;
	background: #ffffff;
	line-height: 50px;
	color: #a39fb4;
	margin: 0 8px;
	opacity: 0;
	visibility: hidden;
	border-radius: 50%;
}

.product-action a:hover {
  background: #E12454;
  color: #ffffff;
}

.pro-cat {
  margin-bottom: 15px;
  display: block;
}

.pro-cat a {
  color: #8fb569;
  font-size: 14px;
  letter-spacing: 2px;
  font-weight: 500;
  text-transform: uppercase;
}

.pro-title {
  margin-bottom: 12px;
}

.pro-title a {
  font-size: 24px;
}

.pro-title a:hover {
  color: #E12454;
}

.price span {
  color: #8e84b8;
  font-size: 14px;
  display: inline-block;
  margin: 0 5px;
}

.price span.old-price {
  color: #b7afd5;
  text-decoration: line-through;
}

.product-showing p {
  margin: 0;
  border: 2px solid #eaedff;
  padding: 17px 30px;
  text-align: center;
  line-height: 1;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
}

@media (max-width: 767px) {
  .product-showing p {
    padding: 17px 15px;
  }
}

.pro-filter {
  position: relative;
  display: inline-block;
}

@media (max-width: 767px) {
  .pro-filter {
    float: left;
  }
}

.pro-filter select {
  border: 2px solid #eaedff;
  padding: 17px 30px;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
  line-height: 1;
  color: #6f7172;
  appearance: none;
  -moz-appearance: none;
  width: 145px;
  font-weight: 500;
}
.pro-filter .nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 0;
	border: solid 1px #e8e8e8;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 50px;
	line-height: 48px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: auto;
}
.pro-filter::before {
  content: "\f107";
  right: 15px;
  top: 15px;
  position: absolute;
  color: #758799;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.shop-tab ul li {
  margin-left: 20px;
}

@media (max-width: 767px) {
  .shop-tab ul li {
    margin-left: 10px;
  }
}

.shop-tab ul li a {
	font-size: 14px;
	font-weight: 500;
	color: #6f7172;
	letter-spacing: 2px;
	padding: 0;
	text-transform: uppercase;
	position: relative;
	height: 50px;
	width: 50px;
	border-radius: 50%;
	background: #f6f6ff;
	line-height: 51px;
	text-align: center;
}

.shop-tab ul li a.active {
  color: white;
  background: #8fb569;
}

.shop-thumb-tab {
  width: 160px;
  float: left;
}

@media (max-width: 767px) {
  .shop-thumb-tab {
    float: none;
    width: 100%;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  .shop-thumb-tab ul {
    margin: 0 -5px;
  }
}

.shop-thumb-tab ul li {
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .shop-thumb-tab ul li {
    width: 33.33%;
    float: left;
    padding: 0 5px;
  }
}

.shop-thumb-tab ul li a {
  padding: 0;
}

.product-details-img {
  margin-left: 180px;
  overflow: hidden;
}

@media (max-width: 767px) {
  .product-details-img {
    margin-left: 0;
  }
}

.product-details-title p {
  color: #6a667b;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.product-details-title h1 {
  font-size: 40px;
  margin: 0;
  line-height: 1.2;
  letter-spacing: -2px;
  margin-bottom: 15px;
}

@media (max-width: 767px) {
  .product-details-title h1 {
    font-size: 36px;
  }
}
.details-price span {
	color: #8fb569;
	font-size: 20px;
	font-weight: 400;
	margin-left: 0;
	margin-right: 10px;
}

.details-price {
  border-bottom: 2px solid #eaedff;
}

.product-cat span {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  color: #100d1c;
}

.product-cat a {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
}

.product-cat a:hover {
  color: #8fb569;
}

.product-social a {
  margin-right: 10px;
  background: #f5f5ff;
  height: 50px;
  width: 50px;
  line-height: 48px;
  border-radius: 30px;
  color: #6f7172;
  display: inline-block;
  text-align: center;
  font-size: 14px;
}

@media (max-width: 767px) {
  .product-social a {
    margin-bottom: 10px;
  }
}

.product-social a:hover {
  background: #8fb569;
  color: #ffffff;
}

.plus-minus {
  display: inline-block;
}

@media (max-width: 767px) {
  .plus-minus {
    display: block;
    margin-bottom: 15px;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .plus-minus {
    display: inline-block;
    margin-bottom: 0;
  }
}

.action-btn {
	background: #8fb569;
	padding: 20px 25px;
	border: none;
	margin-left: 15px;
	color: #ffffff;
	display: inline-block;
}

.action-btn:hover {
  background: #e12454;
  color: #ffffff;
}
.product-action-list {
	overflow: hidden;
}
.product-action-list a {
  float: left;
}

@media (max-width: 767px) {
  .product-action-list a.btn {
    padding: 23px 30px;
    margin-bottom: 7px;
  }
}

@media (max-width: 767px) {
  .product-action-list a.action-btn {
    margin-left: 5px;
    margin-bottom: 7px;
  }
}

.cart-plus-minus input {
  height: 60px;
  width: 100px;
  border: 0;
  border: 2px solid #eaedff;
  text-align: center;
  -moz-appearance: none;
  appearance: none;
}

.cart-plus-minus {
  display: inline-block;
  position: relative;
  margin-right: 15px;
}

.cart-plus-minus .qtybutton {
  position: absolute;
  top: 15px;
  left: 17px;
  font-size: 20px;
  color: #c4bedd;
  cursor: pointer;
}

.cart-plus-minus .inc {
  left: auto;
  right: 17px;
}

.additional-info .table td, .additional-info .table th {
  padding: .75rem 0;
  vertical-align: top;
  border-top: 1px solid #f6f6f6;
  font-weight: 400;
}

.shop-cat a {
  padding: 45px 30px;
  border: 2px solid #eaedff;
  display: block;
}

.shop-cat a i {
  font-size: 100px;
  color: #8fb569;
  margin-bottom: 30px;
  transition: .3s;
}

.shop-cat a h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  transition: .3s;
  letter-spacing: 1px;
}

.shop-cat a:hover {
  background: #8fb569;
  border-color: #8fb569;
}

.shop-cat a:hover i {
  color: #ffffff;
}

.shop-cat a:hover h4 {
  color: #ffffff;
}

.product-list-content .price span:first-child {
  margin-left: 0;
}

.bakix-details-tab ul {
  border-bottom: 2px solid #e1e1e1;
}

.bakix-details-tab ul li a {
  font-size: 16px;
  font-weight: 500;
  color: #8c8bb5;
  letter-spacing: 2px;
  padding: 0;
  text-transform: capitalize;
  position: relative;
  padding: 0 25px;
}

@media (max-width: 767px) {
  .bakix-details-tab ul li a {
    padding: 0 10px;
  }
}

.bakix-details-tab ul li a.active {
  color: #100d1c;
}

.bakix-details-tab ul li a.active:before {
  position: absolute;
  bottom: -32px;
  left: 0;
  height: 2px;
  width: 100%;
  content: "";
  background: #e12454 ;
  transition: .3s;
}

@media (max-width: 767px) {
  .bakix-details-tab ul li a.active:before {
    display: none;
  }
}

@media only screen and (min-width: 576px) and (max-width: 767px) {
  .bakix-details-tab ul li a.active:before {
    display: block;
  }
}

/* 22. Cart */
.table-content table {
  background: #ffffff;
  border-color: #eaedff;
  border-radius: 0;
  border-style: solid;
  border-width: 1px 0 0 1px;
  text-align: center;
  width: 100%;
  margin-bottom: 0;
}

.table-content table td.product-name {
  font-size: 16px;
  font-weight: 400;
  text-transform: capitalize;
}

.table-content table td.product-name a:hover {
  color: #e12454;
}

.table-content table td {
  border-top: medium none;
  padding: 20px 10px;
  vertical-align: middle;
  font-size: 16px;
}

.table-content table th, .table-content table td {
  border-bottom: 1px solid #eaedff;
  border-right: 1px solid #eaedff;
}

.product-quantity input {
	border: none;
	color: #6f7172;
	font-size: 14px;
	font-weight: normal;
	border: 0;
}

.table td, .table th {
	border-top: 1px solid #eaedff;
}

.product-quantity > input {
  width: 80px;
  border-radius: 3px;
}

.table-content table td.product-subtotal {
  font-size: 16px;
}

.table-content table td .cart-plus-minus {
  float: none;
  margin: 0 auto;
}

.coupon-all {
  margin-top: 50px;
}

.coupon {
  float: left;
}

@media (max-width: 767px) {
  .coupon {
    float: none;
  }
}
#coupon_code {
	height: 62px;
	border: 2px solid #eaedff;
	padding: 0 15px;
	margin-right: 10px;
}

@media (max-width: 767px) {
  #coupon_code {
    margin-bottom: 15px;
  }
}

.coupon2 {
  float: right;
}

@media (max-width: 767px) {
  .coupon2 {
    float: none;
    margin-top: 15px;
  }
}

.cart-page-total {
  padding-top: 50px;
}

.cart-page-total > h2 {
	font-size: 25px;
	margin-bottom: 20px;
	text-transform: capitalize;
}

.cart-page-total > ul {
  border: 1px solid #eaedff;
}

.cart-page-total > ul > li {
  list-style: none;
  font-size: 15px;
  color: #6f7172;
  padding: 10px 30px;
  border-bottom: 1px solid #eaedff;
  font-weight: 400;
}

.cart-page-total ul > li > span {
  float: right;
}

.cart-page-total li:last-child {
  border-bottom: 0;
}
td.product-thumbnail img {
	width: 125px;
}

/* 23. Checkout */
.coupon-accordion h3 {
	background-color: #fff1f0;
	border-top: 3px solid #e12454;
	font-size: 14px;
	font-weight: 400;
	margin: 0 0 25px;
	padding: 1em 2em 1em 3.5em;
	position: relative;
	width: auto;
}

.coupon-accordion h3::before {
  content: "\f07b";
  left: 15px;
  top: 13px;
  position: absolute;
  color: #6f7172;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.coupon-accordion span {
  color: #6f7172;
  cursor: pointer;
  transition: .3s;
}

.coupon-accordion span:hover, p.lost-password a:hover {
  color: #e12454;
}

.coupon-content {
  border: 1px solid #eaedff;
  display: none;
  margin-bottom: 20px;
  padding: 30px;
}

.coupon-info p.coupon-text {
  margin-bottom: 15px;
}

.coupon-info p {
  margin-bottom: 0;
}

.coupon-info p.form-row-first label, .coupon-info p.form-row-last label {
  display: block;
  color: #6f7172;
}

.coupon-info p.form-row-first label span.required, .coupon-info p.form-row-last label span.required {
  color: red;
  font-weight: 700;
}

.coupon-info p.form-row-first input, .coupon-info p.form-row-last input {
  border: 1px solid #eaedff;
  height: 45px;
  margin: 0 0 14px;
  max-width: 100%;
  padding: 0 0 0 10px;
  width: 100%;
}

.coupon-info p.form-row input[type="submit"]:hover, p.checkout-coupon input[type="submit"]:hover {
  background: #e12454 none repeat scroll 0 0;
}

.coupon-info p.form-row input[type="checkbox"] {
  position: relative;
  top: 2px;
}

.form-row > label {
  margin-top: 15px;
  margin-left: 15px;
  color: #6f7172;
}

.buttons-cart input, .coupon input[type="submit"], .buttons-cart a, .coupon-info p.form-row input[type="submit"] {
  background: #252525 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  display: inline-block;
  float: left;
  font-size: 12px;
  font-weight: 700;
  height: 40px;
  line-height: 40px;
  margin-right: 15px;
  padding: 0 15px;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
}

p.lost-password {
  margin-top: 15px;
}

p.lost-password a {
  color: #6f6f6f;
}

p.checkout-coupon input[type="text"] {
  height: 45px;
  padding: 0 15px;
  width: 100%;
  border: 1px solid #eaedff;
  margin-bottom: 15px;
}

.coupon-checkout-content {
  display: none;
}

.checkbox-form h3 {
  border-bottom: 1px solid #eaedff;
  font-size: 26px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  width: 100%;
}

.country-select {
  margin-bottom: 30px;
  position: relative;
}

.country-select label, .checkout-form-list label {
  color: #6f7172;
  display: block;
  margin: 0 0 5px;
}

.country-select label span.required, .checkout-form-list label span.required {
  color: red;
}

.country-select select {
  -moz-appearance: none;
  border: 1px solid #eaedff;
  height: 45px;
  padding-left: 10px;
  width: 100%;
  color: #6f7172;
}

.country-select::before {
  content: "\f107";
  right: 15px;
  top: 38px;
  position: absolute;
  color: #6f7172;
  font-family: "Font Awesome 5 Free";
  font-weight: 700;
}

.checkout-form-list {
  margin-bottom: 30px;
}

.checkout-form-list label {
  color: #6f7172;
}

.checkout-form-list input[type="text"], .checkout-form-list input[type="password"], .checkout-form-list input[type="email"] {
  background: #ffffff;
  border: 1px solid #eaedff;
  border-radius: 0;
  height: 45px;
  padding: 0 0 0 10px;
  width: 100%;
}

.checkout-form-list input[type="text"]::-moz-placeholder,
.checkout-form-list input[type="password"]::-moz-placeholder,
.checkout-form-list input[type="email"]::-moz-placeholder {
  color: #6f7172;
  opacity: 1;
}

.checkout-form-list input[type="text"]::placeholder,
.checkout-form-list input[type="password"]::placeholder,
.checkout-form-list input[type="email"]::placeholder {
  color: #6f7172;
  opacity: 1;
}

.checkout-form-list input[type="checkbox"] {
  display: inline-block;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

.create-acc label {
  color: #6f7172;
  display: inline-block;
}

.create-account {
  display: none;
}

.ship-different-title h3 label {
  display: inline-block;
  margin-right: 20px;
  color: #6f7172;
}

.order-notes textarea {
  border: 1px solid #eaedff;
  height: 90px;
  padding: 15px;
  width: 100%;
}

.order-notes textarea::-moz-placeholder {
  color: #6f7172;
  opacity: 1;
}

.order-notes textarea::placeholder {
  color: #6f7172;
  opacity: 1;
}

#ship-box-info {
  display: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-default > .panel-heading {
  border-radius: 0;
}

.your-order {
	padding: 30px 40px 45px;
	border: 3px solid #eaedff;
}

@media (max-width: 767px) {
  .your-order {
    padding: 15px;
  }
}

.your-order h3 {
  border-bottom: 1px solid #eaedff;
  font-size: 30px;
  margin: 0 0 20px;
  padding-bottom: 10px;
  width: 100%;
}

.your-order-table table {
  background: none;
  border: 0;
  width: 100%;
}

.your-order-table table th, .your-order-table table td {
  border-bottom: 1px solid #eaedff;
  border-right: medium none;
  color: #6f7172;
  font-size: 14px;
  padding: 15px 0;
  text-align: left;
}

@media (max-width: 767px) {
  .your-order-table table th, .your-order-table table td {
    padding-right: 10px;
  }
}

.your-order-table table th {
  border-top: medium none;
  color: #6f7172;
  font-weight: normal;
  text-align: left;
  vertical-align: middle;
  white-space: nowrap;
  width: 250px;
}

.panel-body > p {
  color: #222;
}

.your-order-table table .shipping ul li input {
  position: relative;
  top: 2px;
}

.your-order-table table .shipping ul li label {
  color: #6f7172;
}

.your-order-table table .shipping th {
  vertical-align: top;
}

.your-order-table table .order-total th {
  border-bottom: 0;
  font-size: 14px;
}

.your-order-table table .order-total td {
  border-bottom: medium none;
}

.your-order-table table tr.cart_item:hover {
  background: #F9F9F9;
}

.your-order-table table tr.order-total td span {
  color: #e12454;
  font-size: 18px;
  font-weight: 500;
}

.payment-method {
  margin-top: 40px;
}

.panel-title > a {
  display: block;
}

.order-button-payment input {
  background: #232323 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  margin: 0px 0 0;
  padding: 0;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  width: 100%;
}

.order-button-payment input:hover {
  background: #FE4536 none repeat scroll 0 0;
}

.payment-method .btn-link {
  -moz-user-select: none;
  background: no-repeat;
  border: medium none;
  border-radius: 0;
  color: #444;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 0;
  padding: 3px 10px;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
}

.payment-method .card {
  background-color: #ffffff;
  border: 1px solid #eaedff;
  border-radius: 0;
  margin-bottom: 10px;
}

.payment-method .accordion .card:first-of-type {
  border: 1px solid #eaedff;
}

.card-header:first-child {
  border-radius: 0;
}

.payment-method .card-header {
  background-color: #ffffff;
  border-bottom: 1px solid #eaedff;
}

.order-button-payment button {
  width: 100%;
}
.country-select .nice-select {
	-webkit-tap-highlight-color: transparent;
	background-color: #fff;
	border-radius: 0;
	border: solid 1px #eaedff;
	box-sizing: border-box;
	clear: both;
	cursor: pointer;
	display: block;
	float: left;
	font-family: inherit;
	font-size: 14px;
	font-weight: normal;
	height: 45px;
	line-height: 45px;
	outline: none;
	padding-left: 18px;
	padding-right: 30px;
	position: relative;
	text-align: left !important;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	white-space: nowrap;
	width: 100%;
	margin-bottom: 19px;
}

/* 24. Login */
.basic-login {
  padding: 90px;
  border: 2px solid #eaedff;
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .basic-login {
    padding: 50px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .basic-login {
    padding: 40px;
  }
}

@media (max-width: 767px) {
  .basic-login {
    padding: 30px;
  }
}

.basic-login h3 {
  font-size: 30px;
}

.basic-login input {
  width: 100%;
  height: 60px;
  border: 2px solid #eaedff;
  color: #6f7172;
  padding: 0 20px;
  margin-bottom: 20px;
}

.basic-login label {
  color: #222;
  display: block;
}

.basic-login label span {
  color: #fe4536;
}

.login-action input {
  width: inherit;
  height: auto;
}

.login-action label {
  display: inline-block;
  margin-left: 5px;
}

.or-divide {
  border-top: 2px solid #eaedff;
  margin: 40px 0;
  text-align: center;
  position: relative;
}

.or-divide span {
  position: absolute;
  left: 0;
  right: 0;
  top: -9px;
  background: #ffffff;
  display: inline-block;
  width: 40px;
  margin: auto;
  line-height: 1;
  font-weight: 500;
}

@media (max-width: 767px) {
  .forgot-login {
    float: none;
  }
}

.forgot-login a {
  color: #fe4536;
}

.forgot-login a:hover {
  color: #84b77c;
}

@media (max-width: 767px) {
  .log-rem {
    float: none;
    margin-bottom: 10px;
    display: block;
  }
}

/* 25. Portfolio */
.portfolio-filter {
	border-bottom: 2px solid #dde3ff;
	display: inline-block;
	padding: 0;
}
.portfolio-filter button {
	background: none;
	padding: 25px 20px;
	padding-top: 0;
	border: 0;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 13px;
	margin: 0 2px;
	color: #6f7881;
	position: relative;
}
.portfolio-filter button:hover,.portfolio-filter button.active{
	position: relative;
	color: #e12454;
}
.portfolio-filter button::before {
	content: '';
	width: 0;
	height: 2px;
	position: absolute;
	bottom: -2px;
	left: 100%;
	background: #e12454;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.portfolio-filter button.active::before, .portfolio-filter button:hover::before {
	width: 100%;
	left: 0;
	-webkit-transition: width 0.3s ease;
	transition: width 0.3s ease;
}
.portfolio-wrapper {
	position: relative;
}
.portfolio-image {
	position: relative;
}
.portfolio-image::before {
	background: #e12454;
	content: "";
	height: 100%;
	left: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	position: absolute;
	top: 0;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	width: 100%;
}
.portfolio-wrapper:hover .portfolio-image::before {
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
.view-icon a {
	color: #fff;
	display: inline-block;
	font-size: 20px;
}
.view-icon {
	text-align: center;
	top: 20px;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	visibility: hidden;
	z-index: 9;
	-webkit-transition: .3s;
	transition: .3s;
	left: 30px;
	position: absolute;
}
.portfolio-wrapper:hover .view-icon {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
	top: 30px;
}
.portfolio-caption {
	left: 0;
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	padding: 30px;
	position: absolute;
	bottom: 5px;
	-webkit-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
	visibility: hidden;
	right: 0;
	transform: translateY(10px);
}
.portfolio-wrapper:hover .portfolio-caption {
	opacity: 1;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	visibility: visible;
	transform: translateY(0px);
}
.portfolio-caption h4 {
	font-size: 20px;
	letter-spacing: 2px;
	margin-bottom: 0;
	padding-bottom: 6px;
	position: relative;
	text-transform: uppercase;
	color: #fff;
	font-weight: 600;
}
.portfolio-caption p {
	text-transform: capitalize;
	color: #fff;
	margin: 0;
}
/*--- 26. Preloader ---*/
.dark #preloader {
  background-color: #232323;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f7f7f7;
  z-index: 999999;
}

.preloader {
  width: 50px;
  height: 50px;
  display: inline-block;
  padding: 0px;
  text-align: left;
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -25px;
  margin-top: -25px;
}

.preloader span {
  position: absolute;
  display: inline-block;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #e12454;
  -webkit-animation: preloader 1.3s linear infinite;
  animation: preloader 1.3s linear infinite;
}

.preloader span:last-child {
  animation-delay: -0.8s;
  -webkit-animation-delay: -0.8s;
}

@keyframes preloader {
  0% {
    transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

@-webkit-keyframes preloader {
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0.5;
  }

  100% {
    -webkit-transform: scale(1, 1);
    opacity: 0;
  }
}

/*--- end of preloader ---*/


/* Update CSS */
.header-info4 span i {
	color: #e12454;
}
.header-info4 span {
	color: #7a8a9e;
}
.top-border {
	border-bottom: 1px solid #eaeaea;
}
.top4-menu ul li a {
	color: #7a8a9e;
	margin-left: 23px;
}
.top4-right .header-social-icons ul li:last-child a {
	margin-right: 0;
}
.top4-social {
	padding: 0;
	padding-left: 35px;
}
.top4-social ul li a i {
	color: #b2bfcf;
	transition: .4s;
}
.top4-social ul li a:hover i {
	color: #e12454;
	transition: .4s;
}
.top4-menu ul li a.need-help {
	color: #e12454;
	text-decoration: underline;
}
.top4-menu ul li a:hover {
	color: #e12454;
}
.header__menu4 ul li a {
	color: #223645;
}
.header__menu4 ul li a:hover,
.header__menu ul li ul.submenu li a:hover {
	color: #e12454;
}
.h4hero-content>p {
	font-size: 16px;
}
.h4hero-content span i {
	font-size: 16px;
}
.h4hero-content span span {
	padding-left: 11px;
}
.h4-span > span {
	margin-bottom: 18px;
	display: block;
}
.h4hero-content>p {
	padding-right: 41%;
}
.h4hero-btn>a.btn {
	margin-right: 19px;
}
.h4slider-bg {
	padding-top: 210px;
	padding-bottom: 230px;
	background-size: cover;
	background-repeat: no-repeat;
	padding-left: 220px;
}
.call-btn {
	line-height: 1;
	padding: 28px 39px;
	font-size: 24px;
	display: inline-block;
	position: absolute;
	right: auto;
	bottom: -30px;
	left: 66px;
	z-index: 1;
}
.call-btn .call-icon {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	margin: 0 auto;
	text-align: center;
	transform: translateY(-50%);
}
.about-overlap__thumb {
	position: absolute;
	bottom: -60px;
	right: -30px;
}
.h4author-ava>img {
	box-shadow: 0px 10px 29.7px 0.3px rgba(182, 182, 182, 0.6);
	border-radius: 50%;
	padding: 3px;
	background: #fff;
}
.h4author-destination>p {
	margin-bottom: 10px;
}
.h4about-right {
	padding-left: 74px;
}
.h4about-right .about-text p {
	padding-right: 25px;
}
.services-border {
	border-top: 1px solid #ececec;
}
.h4services-bg {
	position: absolute;
	width: 100%;
	min-height: 516px;
	bottom: 0;
	background: #223645;
}
.h4services-tag {
	padding: 6.5px 20px;
	display: inline-block;
	position: absolute;
	left: 40px;
	bottom: -15px;
	letter-spacing: 0.2em;
}
.h4services-content {
	padding: 50px 40px;
	padding-right: 77px;
}
.h4services-content .service-link {
	padding: 0;
	margin-top: 0;
}
.h4services-content .service-link i {
	margin-left: 5px;
	vertical-align: middle;
}
.h4service-active .slick-arrow,
.h4gallery-active .slick-arrow {
	position: absolute;
	z-index: 1;
	top: 50%;
	transform: translateY(-50%);
	padding: 0;
	border: 0;
	font-size: 18px;
	color: #fff;
	background: #8fb569;
	height: 50px;
	width: 50px;
	border-radius: 5px;
	left: -5%;
	transition: .4s;
}
.h4service-active .slick-next.slick-arrow {
	left: auto;
	right: -5%;
}
.h4service-active .slick-arrow:hover {
	background: #e12454;
}
.h4service-active .slick-dots,
.h4gallery-active .slick-dots {
	position: absolute;
	right: 0;
	left: 0;
	text-align: center;
	bottom: -52px;
}
.h4service-active .slick-dots li,
.h4gallery-active .slick-dots li {
	display: inline-block;
}
.h4service-active .slick-dots li button,
.h4gallery-active .slick-dots li button {
	height: 15px;
	width: 15px;
	text-indent: -9999px;
	background: #85949e;
	border: 0;
	padding: 0;
	border-radius: 50%;
	margin: 0 5px;
	transition: .4s;
}
.h4service-active .slick-dots li.slick-active button {
	background: #8fb569;
}
.h4team-social ul li a {
	font-size: 14px;
	color: #a0aab1;
	margin: 0 10px;
	display: inline-block;
}
.h4team-social {
	opacity: 0;
	transition: .4s;
	visibility: hidden;
}
.team-box:hover .h4team-social {
	transition: .4s;
	opacity: 1;
	visibility: visible;
}
.h4team-thumb>img {
	padding: 6px;
	border-radius: 50%;
	border: 3px dashed rgb(143, 181, 105, 0.30);
	transition: .4s;
}
.team-box:hover .h4team-thumb>img {
	border-color: #8fb569;
}
.h4team-social ul li a:hover {
	color: #e12454;
}
.h4team-thumb .team-link {
	position: absolute;
	top: 0;
	height: 46px;
	width: 46px;
	border-radius: 50%;
	background-color: #e12454;
	box-shadow: none;
	font-size: 16px;
	font-weight: 500;
	line-height: 46px;
	right: 30px;
}
.h4team-content>h3 {
	font-size: 24px;
}
.h4team-content h6 {
	font-family: 'Rubik', sans-serif;
	font-weight: 500;
}
.h4appoinment-thumb {
	width: 50%;
	position: absolute;
	height: 100%;
	left: 0;
	top: 0;
	bottom: 0;
}
.h4appoinment-wrapper {
	padding: 127px 100px 130px 69px;
}
.h4appoinment-input>input {
	width: 100%;
	border: 0;
	border-bottom: 2px solid #cad2d7;
	padding: 15px 45px;
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	color: #647589;
}
.h4appoinment-input>input::placeholder {
	font-size: 18px;
	font-family: 'Rubik', sans-serif;
	color: #647589;
}
.h4appoinment-input>input:focus::-moz-placeholder {
	opacity: 0;
}

.h4appoinment-input>input:focus::placeholder {
	opacity: 0;
}
.h4input-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	font-size: 24px;
	color: #e12454;
}
.h4hire-text {
	padding-left: 220px;
}
.howit-box>i {
	display: inline-block;
	margin-bottom: 38px;
}
.howit-box>h3 {
	margin-bottom: 12px;
	font-size: 24px;
}
.howit-box .move-icon {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 315px;
}
.h4testimonials-wrapper {
	padding: 40px;
	margin-bottom: 50px;
	box-shadow: 0px 16px 32px 0px rgba(221, 217, 255, 0.2);
	transition: .4s;
}
.h4testimonials-ratings ul li {
	font-size: 14px;
	color: #ffc600;
}
.h4testimonials-ratings {
	margin-bottom: 5px;
}
.h4testimonials--author__info>h5 {
	margin-bottom: 4px;
	font-family: 'Poppins', sans-serif;
}
.h4testimonials--author__info {
	padding-left: 14px;
}
.h4testimonials--author__info>span {
	font-size: 12px;
}
.h4testi-iconquato>i {
	height: 45px;
	width: 45px;
	text-align: center;
	background: #e12454;
	line-height: 45px;
	border-radius: 50%;
	color: #fff;
	font-size: 16px;
}
.h4testi-iconquato {
	position: absolute;
	top: -20px;
	right: 20px;
}
.h4testi-col {
	padding-left: 39px;
}
.gallery-box h2 {
	border-radius: 10px;
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 10px 29.7px 0.3px rgba(75, 105, 128, 0.19);
	height: 90px;
	text-align: center;
	line-height: 90px;
	display: inline-block;
	padding: 0 80px;
	margin-bottom: 0;
	font-size: 30px;
	letter-spacing: -.03em;
}
.gallery-content {
	text-align: center;
	margin-top: -46px;
}
.gallery-box {
	padding-bottom: 50px;
}
.h4gallery-active .slick-arrow {
	top: -20.7%;
	left: auto;
	right: 15px;
}
.h4gallery-active .slick-prev.slick-arrow {
	right: 85px;
}
.h4gallery-active .slick-arrow:hover {
	background: #e12454;
}
.h4gallery-active .slick-dots li button {
	background: #e7f1f7;
}

.h4gallery-active .slick-dots li.slick-active button,
.h5service-active .slick-dots li.slick-active button {
	background: #ffc600;
}
.h5service-active .slick-dots li button {
	background: #cad2d7;
}
.h4facts-icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 50%;
	margin-bottom: 20px;
}
.h4facts-iconpink {
	background: rgba(225, 36, 84, 0.10);
}
.h4facts-icongreen {
	background: rgba(143, 181, 105, 0.10);
}
.h4facts-single>span {
	display: block;
	font-size: 50px;
}
.h4facts-single h5 {
	font-size: 14px;
	margin-bottom: 0;
}
.h4facts-single {
	padding: 50px;
	border-radius: 12px;
}
.h4facts-single.border-facts {
	border: 2px solid #dfe5e9;
}
.h6fact-wrapper {
	padding-left: 205px;
}
.h4facts-single.box-shadow {
	background-color: rgb(255, 255, 255);
	box-shadow: 0px 8px 16px 0px rgba(200, 200, 200, 0.2);
}
.h4facts-thumb {
	display: inline-block;
	position: relative;
}
.h4facts-thumb::before {
	background: rgba(34, 54, 69, 0.82);
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
}
.h4facts-playicon {
	position: absolute;
	left: 0;
	width: 319px;
	height: 319px;
	margin: 0 auto;
	text-align: center;
	right: 0;
	top: 50%;
	transform: translateY(-50%);
	transition: .4s;
}
.h4facts-brandicon {
	position: absolute;
	left: -55px;
	z-index: 1;
	top: 50%;
	transform: translateY(-50px);
	height: 110px;
	width: 110px;
	background: #e12454;
	text-align: center;
	line-height: 110px;
	border-radius: 50%;
}
.h4latestnews-bg::before {
	position: absolute;
	content: "";
	background: rgba(34, 54, 69, 0.90);
	width: 100%;
	height: 100%;
}
.h4latestnews-bg {
	position: absolute;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}
.h4latestnews-box:hover .h4latestnews-bg {
	opacity: 1;
	visibility: visible;
	transition: .4s;
}
.h4latestnews-wrapper {
	padding: 55px 40px;
	border: 1px solid #f1f1f1;
	padding-right: 38px;
}
.h4news-content>h4 {
	font-size: 24px;
	line-height: 1.3;
	letter-spacing: -.03em;
	margin-bottom: 11px;
}
.h4news-content {
	padding-bottom: 15px;
	border-bottom: 1px solid #f0f0f0;
	margin-bottom: 30px;
}
.h4adminnews-thumb>span>span {
	padding-left: 14px;
	letter-spacing: -0.03em;
}
.h4adminnews-date>span {
	color: #647589;
}
.h4adminnews-date>span>i {
	margin-right: 10px;
}
.h4adminnews-date {
	margin-left: 50px;
}
.btn-icon-gray {
	background-color: rgb(244, 249, 252);
	box-shadow: 0px 8px 16px 0px rgba(143, 171, 192, 0.2);
	color: #223645;
	transition: .4s;
}
.h4latestnews-box:hover .h4news-content>h4,
.h4latestnews-box:hover .h4news-content>p,
.h4latestnews-box:hover .h4adminnews-thumb>span>span,
.h4latestnews-box:hover .h4adminnews-date>span {
	color: #fff;
}
.btn-icon-gray:hover {
	background: #e12454;
	box-shadow: 0px 8px 16px 0px rgba(225, 36, 84, 0.2);
}
.h4latestnews-box:hover .h4latestnews-wrapper {
	border: 1px solid transparent;
}
.h4footer-menu ul li {
	float: none;
	width: 100%;
}
.h4events-list ul li {
	position: relative;
	margin-bottom: 10px;
}
.h4events-list ul li i {
	position: absolute;
	left: 0;
	font-size: 22px;
	color: #8fb569;
	overflow: hidden;
	top: 4px;
}
.h4events-list ul li>span {
	padding-left: 35px;
	overflow: hidden;
	display: inline-block;
	font-size: 18px;
	font-weight: 500;
	color: #91a1b4;
}
.h4events-list ul li>span>span {
	display: block;
}
.h4events-list ul li>span.close-days {
	color: #8fb569;
}
.h4footer-social ul li a {
	height: 40px;
	width: 40px;
	background: #243d4f;
	display: inline-block;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	font-size: 14px;
	color: #425f74;
	margin-right: 9px;
}
.h4footer-social ul li a:hover {
	background: #5798fe;
	color: #fff;
}
.h4footer-widget {
	padding-top: 27px;
}

/* Home Page 5 */
.h5services-wrapper {
	padding: 60px 55px;
}
.h5services-content {
	position: relative;
}
.h5services-icon {
	display: inline-block;
	height: 80px;
	width: 80px;
	text-align: center;
	line-height: 80px;
	background: #fff;
	border-radius: 50%;
	margin-bottom: 35px;
}
.h5services-title {
	font-size: 22px;
	margin-bottom: 14px;
}
.h5services-content>p {
	color: #c0d0dc;
	margin-bottom: 30px;
}
.h5services-content > a > span.link {
	letter-spacing: 0.1em;
	text-decoration: underline;
}
.h5services-content>a>span.plus {
	font-size: 20px;
	line-height: 1;
	margin-right: 6px;
	font-family: 'Poppins', sans-serif;
	vertical-align: middle;
}
.h5services-content>a:hover {
	color: #e12454;
}
.h5services-events>li {
	position: relative;
	margin-bottom: 10px;
}
.h5services-events>li>span {
	position: absolute;
	left: 122px;
	top: 50%;
	transform: translateY(-50%);
}
.h5services-events {
	padding-top: 10px;
}
.h5sclose-days>li {
	font-size: 18px;
}
.h5services-wrapper {
	padding: 60px 55px;
	height: 100%;
	position: relative;
}
.h5sicon-bg {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	text-align: center;
}
.h6services-content {
	position: relative;
}
.h5services-bottom>span>i {
	display: inline-block;
	vertical-align: middle;
	margin-right: 13px;
}
.h5services-bottom>span {
	display: inline-block;
}
.h5services-bottom {
	padding-top: 30px;
	border-top: 1px solid #e6e6e6;
}
.h6services-content {
	padding: 40px;
	position: relative;
}
/* Routine */
.routine__bg::before {
	position: absolute;
	content: "";
	background-color: rgba(34, 54, 69, 0.90);
	width: 100%;
	height: 100%;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}
.routine__table .table thead th,
.routine__table .table tbody th,
.routine__table .table tbody td {
	vertical-align: bottom;
	padding: 30px 20px;
	text-align: center;
	line-height: 1;
	font-size: 18px;
	color: #223645;
	font-weight: 700;
	background: #fff;
	border: 2px solid;
	font-family: 'Poppins', sans-serif;
	letter-spacing: -0.03em;
	min-width: 167px;
}
.doctor--routine__wrapper h2 {
	font-size: 18px;
	font-weight: 600;
	margin-bottom: 5px;
}
.doctor--routine__wrapper span {
	font-size: 14px;
	font-weight: 500;
	color: #223645;
}
.routine__table .table tbody td {
	padding: 20px 15px;
	background-color: rgba(21, 40, 55, 0.50);
}
.routine__table .table tbody td.active-doctor {
	background: #8fb569;
}
.routine__bg {
	background-size: cover;
	background-position: center center;
}
/* Routine end */
/* Gallery  */
.h5gallery-content {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	transform: translateY(-70%);
	z-index: 1;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}
.h5gallery__wrapper:hover .h5gallery-content {
	opacity: 1;
	visibility: visible;
	transition: .4s;
	transform: translateY(-50%);
}
.h5gallery__wrapper::before {
	position: absolute;
	content: "";
	background-color: rgba(34, 54, 69, 0.89);
	width: 100%;
	height: 100%;
	left: 0;
	right: 0;
	opacity: 0;
	visibility: hidden;
	transition: .4s;
}
.h5gallery__wrapper:hover::before {
	opacity: 1;
	visibility: visible;
	transition: .4s;
}
.h5gallery-content>a>i {
	font-size: 20px;
	font-size: 40px;
	color: #fff;
	margin-bottom: 10px;
	transition: .4s;
}
.h5gallery-content>a>i:hover {
	color: #8fb569;
}
.h5gallery-content>h4 {
	font-size: 22px;
}
.h5gallery-content > span > a {
	font-size: 13px;
	color: #fff;
	text-transform: uppercase;
}
.h5gallery-content>span>a:hover {
	color: #e12454;
}
.gallery-button {
	text-align: center;
}
.gallery-filter>button {
	position: relative;
	font-size: 14px;
	font-weight: 600;
	color: #223645;
	text-transform: capitalize;
	border: 2px solid #e4e4e4;
	background: transparent;
	padding: 10px 18px;
	line-height: 1;
	margin: 0 5.5px;
	font-family: "Poppins", sans-serif;
	transition: .4s;
}
.gallery-filter>button.active {
	background: #e12454;
	border: 2px solid transparent;
	color: #fff;
	transition: .4s;
}
/* Gallery end */

/* Tab */
.h5medical-tab-menu {
	margin-top: -50px;
}
.h5medical-tab-menu>nav>.nav a {
	line-height: 1;
	padding: 30px 40px;
	border: 0px solid transparent;
	border-radius: 0;
	background: #e8ebec;
	font-size: 24px;
	color: #223645;
	font-weight: 600;
	width: 33.33%;
	text-align: center;
	margin-bottom: 60px;
	transition: .4s;
	font-family: "Poppins", sans-serif;
}
.h5medical-tab-menu>nav>.nav a.active {
	background: #e12454;
	color: #fff;
}
.h5medical-tab-menu .nav-tabs {
	border-bottom: 0px;
}
.h5medical-tab-menu>nav>.nav a i {
	margin-right: 20px;
	display: inline-block;
}
.h5medical-content>h4 {
	font-size: 24px;
	line-height: 1.4;
	position: relative;
	padding-bottom: 27px;
	margin-bottom: 35px;
	padding-right: 47px;
}
.h5medical-content>h4::before {
	position: absolute;
	content: "";
	width: 70px;
	height: 5px;
	background: #e12454;
	bottom: 0;
}
.h5medical-content>p {
	color: #647589;
	margin-bottom: 25px;
}
.h5medical-content>ul>li {
	color: #647589;
	font-weight: 500;
	display: block;
	margin-bottom: 13px;
}
.h5medical-content>ul>li>i {
	margin-right: 15px;
}
.h5medical-content {
	padding-left: 30px;
	padding-right: 67px;
}
.medical-tab-border {
	padding-bottom: 100px;
	border-bottom: 2px solid #f1f1f1;
}
/* Tab end */

/* fact  */
.h5fact-wrapper>i {
	display: block;
	font-size: 40px;
	color: #8fb569;
	margin-bottom: 25px;
}
.h5fact-wrapper>span {
	font-size: 40px;
	font-weight: 600;
	color: #e12454;
	font-family: "Poppins", sans-serif;
	margin-bottom: 3px;
	display: block;
}
.h5fact-wrapper>h5 {
	font-size: 14px;
	font-weight: 500;
	color: #223645;
	margin-bottom: 15px;
}
.h5fact-wrapper {
	padding-right: 30px;
}
.h5fact-border {
	border-bottom: 2px solid #f1f1f1;
}

.oneee input{
	padding:10px ; 
	background-color: #eaebec;
	border-radius: 5px;

}
.logo-circle::before{
	display: none;
}
.oneee button{
	background:deepskyblue ; 
	border-radius: 5px;

	padding:10px
}
/* fact end */